/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #4a4a4a;
  font-size: 16px;
  font-family: "robotoregular", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: block;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: auto;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

label {
  margin: 0 auto;
}

input, select {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.height-helper {
  padding-left: 240px;
  min-height: 100%;
  overflow: hidden;
  background: url("../img/fon-new.png");
  position: relative;
}

.height-helper:before, .height-helper:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../img/right-tree.png") no-repeat center center;
  width: 159px;
  height: 270px;
}

.height-helper:before {
  background: url("../img/embroidery2.png");
  left: 0;
  width: auto;
  height: 115px;
}

.height-helper_new-bg {
  background: url("../img/fon-2-new.png");
}

.height-helper_new-bg:before {
  background: url("../img/left-bottom-tree.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
  width: 400px;
  height: 269px;
  left: 230px;
}

.height-helper_new-bg:after {
  background: url("../img/right-bottom-biscuit.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
  width: 540px;
  height: 217px;
}

.height-helper .text-card-wrap {
  display: none;
  margin-top: 50px;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'appetitemondmedium';
  src: url("../fonts/appetitemond/appetitemond-webfont.eot");
  src: url("../fonts/appetitemond/appetitemond-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/appetitemond/appetitemond-webfont.woff2") format("woff2"), url("../fonts/appetitemond/appetitemond-webfont.woff") format("woff"), url("../fonts/appetitemond/appetitemond-webfont.ttf") format("truetype"), url("../fonts/appetitemond/appetitemond-webfont.svg#appetitemondmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto/roboto-italic-webfont.eot");
  src: url("../fonts/roboto/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto/roboto-italic-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto/roboto-medium-webfont.eot");
  src: url("../fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?baxu62");
  src: url("../fonts/icomoon/icomoon.eot?baxu62#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?baxu62") format("truetype"), url("../fonts/icomoon/icomoon.woff?baxu62") format("woff"), url("../fonts/icomoon/icomoon.svg?baxu62#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e900";
  color: #fff;
}

.icon-LK-icon:before {
  content: "\e901";
  color: #fff;
}

.icon-logo:before {
  content: "\e902";
  color: #fff;
}

.icon-menu:before {
  content: "\e903";
  color: #fff;
}

.icon-menu-close:before {
  content: "\e904";
  color: #fff;
}

.icon-odn:before {
  content: "\e905";
  color: #fff;
}

.icon-photo-send:before {
  content: "\e906";
  color: #fff;
}

.icon-video-send:before {
  content: "\e907";
  color: #fff;
}

.icon-vk:before {
  content: "\e908";
  color: #fff;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1005px;
  margin: 0 auto;
}

.container_little {
  max-width: 820px;
}

.container_gift {
  max-width: 600px;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.justify-fe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 20px 0;
  position: relative;
  z-index: 101;
  background-color: #e20509;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.header_container {
  max-width: none;
  padding: 0;
  width: 128%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.header__burger {
  display: none;
  font-size: 39px;
}

.logo {
  margin-bottom: 20px;
  text-align: center;
  display: block;
  margin-left: -50px;
}

.logo .icon-logo {
  font-size: 50px;
}

.nav {
  font-size: 14px;
  width: 100%;
  font-family: "robotomedium", sans-serif;
}

.nav__link {
  color: #ffffff;
  display: block;
  padding-left: 50px;
  padding-right: 55px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-top: 30px;
  position: relative;
}

.nav__link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #ffffff;
  border-bottom: 20px solid transparent;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.nav__link:hover, .nav__link.active {
  color: #ffffff;
}

.nav__link:hover:before, .nav__link.active:before {
  opacity: 1;
}

.personal-area {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 55px;
  position: relative;
}

.personal-area:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #ffffff;
  border-bottom: 20px solid transparent;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.personal-area:hover:before {
  opacity: 1;
}

.personal-area__photo {
  margin-right: 10px;
}

.personal-area__photo_icon {
  font-size: 20px;
}

.personal-area__info {
  width: 100%;
}

.personal-area__text {
  text-align: left;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.personal-area__text p {
  color: #ffffff;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.personal-area__exit-btn {
  padding-left: 30px;
  text-decoration: underline;
  color: #ffffff;
  margin-top: 5px;
}

.personal-area__exit-btn:hover {
  color: #ffffff;
  text-decoration: underline;
}

.personal-area__no-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.personal-area__entry {
  display: none;
}

.personal-area.login .personal-area__entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal-area.login .personal-area__text p {
  color: #ffffff;
  text-decoration: underline;
}

.personal-area.login .personal-area__no-entry {
  display: none;
}

.personal-area-photo {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.personal-area-photo_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
}

.text-card-wrap {
  margin-top: 50px;
}

.text-card-wrap__text {
  color: #ffffff;
  font-family: "appetitemondmedium", sans-serif;
  font-size: 15px;
  padding: 10px 30px 10px 50px;
  background-color: #ba0c0c;
  background: -webkit-linear-gradient(195deg, transparent 25px, #ba0c0c 0);
  background: -o-linear-gradient(195deg, transparent 25px, #ba0c0c 0);
  background: linear-gradient(-105deg, transparent 25px, #ba0c0c 0);
  position: relative;
  margin-right: 0px;
  width: 240px;
}

.text-card-wrap__text:after {
  content: "";
  position: absolute;
  bottom: -35px;
  right: 25px;
  width: 18px;
  height: 49px;
  background: url("../img/arrow-down.png") no-repeat center center;
}

.text-card-wrap__send-card {
  width: 240px;
  height: 118px;
  display: inline-block;
  background: url("../img/send-card_menu.png") no-repeat center center;
  margin-top: 10px;
}

.footer {
  background-color: #ffffff;
  padding: 20px 0 5px;
  padding-left: 240px;
  position: relative;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #4d1d85;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav li {
  position: relative;
}

.footer__nav li::before {
  content: '';
  position: absolute;
  background-color: #e20509;
  height: 3px;
  width: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -11px;
}

.footer__nav li:first-child::before {
  display: none;
}

.footer__nav li + li {
  margin-left: 20px;
}

.footer__nav li a {
  color: #4d1d85;
}

.footer__logo {
  margin-top: 35px;
  text-align: center;
}

.footer__author {
  margin-top: 15px;
  font-size: 11px;
  color: #4d1d85;
  text-align: center;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #660003;
  padding: 25px 0 20px;
  padding-left: 240px;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 12px;
  opacity: 0;
  z-index: -1;
}

.cookies__text {
  margin: 0 auto 10px;
  width: 80%;
  color: #ffffff;
}

.cookies__text a {
  color: #ffffff;
}

.cookies.js-show {
  opacity: 1;
  z-index: 99;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.popup.js-popup-show {
  z-index: 100;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  margin-left: 140px;
}

.popup__close, .photo-del {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  background-color: #e20509;
  cursor: pointer;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.popup__close:before, .photo-del:before, .popup__close:after, .photo-del:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  height: 25px;
  width: 2px;
  background-color: #ffffff;
}

.popup__close:after, .photo-del:after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.popup__wrap {
  background-color: #f8f6f1;
  max-width: 300px;
  width: 100%;
  padding: 20px 30px 40px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-bottom: 100px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup__wrap:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -18px;
  left: 0;
  height: 18px;
  background: -webkit-linear-gradient(135deg, transparent 75%, #f8f6f1 0) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, #f8f6f1 0) 1px 50%;
  background: -o-linear-gradient(135deg, transparent 75%, #f8f6f1 0) 0 50%, -o-linear-gradient(45deg, transparent 75%, #f8f6f1 0) 1px 50%;
  background: linear-gradient(-45deg, transparent 75%, #f8f6f1 0) 0 50%, linear-gradient(45deg, transparent 75%, #f8f6f1 0) 1px 50%;
  -webkit-background-size: 15px 20px;
          background-size: 15px 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup__wrap:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -18px;
  left: 0;
  height: 18px;
  background: -webkit-linear-gradient(135deg, transparent 75%, #f8f6f1 0) 0 50%, -webkit-linear-gradient(45deg, transparent 75%, #f8f6f1 0) 1px 50%;
  background: -o-linear-gradient(135deg, transparent 75%, #f8f6f1 0) 0 50%, -o-linear-gradient(45deg, transparent 75%, #f8f6f1 0) 1px 50%;
  background: linear-gradient(-45deg, transparent 75%, #f8f6f1 0) 0 50%, linear-gradient(45deg, transparent 75%, #f8f6f1 0) 1px 50%;
  -webkit-background-size: 15px 20px;
          background-size: 15px 20px;
}

.popup__wrap_big {
  max-width: 500px;
  padding-top: 80px;
  text-align: center;
}

.popup__wrap_big .title {
  position: relative;
}

.popup__wrap_big .title:before {
  content: "";
  position: absolute;
  top: -190px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 358px;
  height: 176px;
  background: url("../img/postcard-Picture.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}

.popup__wrap_big .form__text--minMargin {
  padding: 0 50px;
}

.popup__wrap_big input {
  max-width: 240px;
  width: 100%;
}

.popup__wrap_big .void-code {
  text-align: center;
  font-style: italic;
}

.popup__wrap_big ::-webkit-input-placeholder {
  color: #9b9b9b;
}

.popup__wrap_big ::-moz-placeholder {
  color: #9b9b9b;
}

.popup__wrap_big :-ms-input-placeholder {
  color: #9b9b9b;
}

.popup__wrap_big :-moz-placeholder {
  color: #9b9b9b;
}

.popup__wrap_big .btn-wrap_minMargin {
  margin-top: 10px;
}

.popup__wrap_very-big {
  max-width: 660px;
  padding: 0;
}

.popup__wrap_very-big:before, .popup__wrap_very-big:after {
  display: none;
}

.popup__title {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.popup__title--min {
  font-size: 21px;
  color: #4a4a4a;
  margin-bottom: 10px;
  margin-top: 40px;
}

.popup__text {
  text-align: center;
  font-size: 18px;
}

.popup__text_img {
  margin-bottom: 20px;
}

.popup__text--marginTop {
  margin-top: 30px;
}

.popup__text_marginminus {
  margin: 30px -15px 0;
}

.popup__text_marginminus a {
  color: #e20509;
}

.reg-winner .popup__wrap {
  padding: 20px 60px 40px;
  max-width: 380px;
}

.reg-winner .popup__wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: -35%;
  width: 117px;
  height: 312px;
  z-index: 1;
  background: url("../img/Sparcles1.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}

.reg-winner .popup__wrap:after {
  content: "";
  position: absolute;
  top: 20%;
  right: -35%;
  z-index: 1;
  width: 127px;
  height: 282px;
  background: url("../img/Sparcles2.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}

.text-download-wrap {
  height: 228px;
}

.download-check .popup__wrap {
  padding-right: 10px;
}

.download-check-photo .popup__wrap {
  padding-right: 10px;
  padding-left: 10px;
}

.photo-download-wrap__check {
  position: relative;
  width: 230px;
  margin: 0 auto 30px;
  border: 5px solid #ffffff;
}

.photo-del {
  background-color: #ffffff;
  left: -15px;
  top: -15px;
  right: auto;
  width: 30px;
  height: 30px;
}

.photo-del:before, .photo-del:after {
  background-color: #e20509;
  height: 18px;
}

.input-for-img {
  position: absolute;
  top: -1000px;
  visibility: hidden;
}

.photo-download-wrap {
  height: 240px;
}

.photo-download-wrap.scroll-content {
  padding-top: 12px;
}

.gallery-card-slider .popup__wrap_big {
  padding-top: 20px;
}

.gallery-card-slider .title span {
  font-size: 24px;
}

.gallery-card-slider .title p {
  color: #4a4a4a;
  font-family: "robotoregular", sans-serif;
}

.gallery-card-slider .title:before {
  display: none;
}

.gallery-card-add .popup__wrap_big {
  padding-top: 20px;
}

.gallery-card-add .title:before {
  display: none;
}

.gallery-card-add .form__tips {
  padding-left: 75px;
}

.gallery-card-add input {
  max-width: 320px;
}

.gallery-card-add textarea {
  max-width: 320px;
  min-height: 150px;
}

.gallery-card-add span div.error {
  padding-left: 0;
}

.download-file-congratulate {
  width: 250px;
  margin: 18px auto 0;
}

.download-congratulate {
  display: block;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.download-congratulate .btn-send {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #e20509;
  position: relative;
  margin: 0;
  display: inline-block;
}

.download-congratulate input {
  position: absolute;
  top: -1000px;
  visibility: hidden;
}

.download-congratulate p {
  color: #e20509;
  font-size: 14px;
}

.download-reg.js-popup-show {
  margin-left: 0;
  z-index: 105;
}

.side {
  padding: 25px 40px 40px;
  text-align: center;
  background: url("../img/fon-2-new.png");
}

.side_other {
  background: url("../img/fon-new.png");
}

.side_other .title {
  color: #ffffff;
}

.side_other .form__text {
  color: #ffffff;
}

.side__img {
  margin-top: 10px;
}

.side__img img {
  max-height: 130px;
}

span div.error {
  color: #ff0000;
  font-size: 10px;
  padding-left: 20px;
}

body > .select2-container {
  width: auto !important;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 101;
}

.select2-container * {
  outline: none;
}

.select2-container .select2-selection {
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 13px 20px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
}

.select2-container .select2-selection__rendered {
  padding-left: 0 !important;
}

.select2-container .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-selection__arrow {
  height: 100% !important;
  width: 38px !important;
}

.select2-container .select2-selection__arrow::before {
  border: none;
  background: url("../img/svg/arrow-select.svg") no-repeat center/cover;
  width: 16px;
  height: 12px;
  -webkit-background-size: contain;
          background-size: contain;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.select2-container .select2-dropdown {
  border-top: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 10px;
}

.checkbox {
  position: relative;
  padding: 7px 0;
  padding-left: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4a4a4a;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: -2;
}

.checkbox__text {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  font-size: 12px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.checkbox__text a {
  color: #e20509;
}

.checkbox__text::before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  border: 1px solid #b4ac96;
  left: 0;
  top: 0;
}

.checkbox input:checked + .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/cheked.svg") no-repeat center/cover;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
}

.checkbox input:checked ~ .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/svg/cheked.svg") no-repeat center/cover;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
}

.ajax-validate-error {
  padding-top: 10px;
}

.ajax-validate-error .error {
  font-size: 13px;
  font-family: "appetitemondmedium", sans-serif;
}

body {
  position: relative;
}

body.no-scroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: fixed;
}

.btn {
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #ffffff;
  background-color: #e20509;
}

.btn:hover {
  color: #ffffff;
}

.btn:focus {
  color: #ffffff;
}

.btn_def {
  font-size: 16px;
  padding: 15px 20px;
  min-width: 240px;
}

.btn_big {
  font-size: 18px;
  min-width: 220px;
  padding: 25px 20px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}

.btn_info {
  margin-top: 15px;
  min-width: 240px;
  background-color: #ed1846;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 15px 25px;
  font-size: 24px;
  text-transform: none;
}

.btn_down {
  padding-left: 30px;
  position: relative;
  margin-left: -15px;
}

.btn_down:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 50px;
  background: url("../img/svg/notebook.svg") no-repeat center center;
  width: 16px;
  height: 18px;
}

.btn_file {
  background-color: #ffffff;
  border: 1px solid #e20509;
  color: #e20509;
}

.btn_file:hover {
  color: #e20509;
}

.btn_cook {
  min-width: 100px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #ffffff;
  background-color: #e20509;
  font-size: 14px;
  padding: 7px 0;
}

.btn_cook:hover {
  color: #ffffff;
}

.btn_abs {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn_min {
  padding: 10px 20px;
  font-size: 14px;
  color: #b70015;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  min-width: 130px;
  background-color: #ffffff;
  margin-top: 10px;
}

.btn_min:hover {
  color: #b70015;
}

.btn_middle {
  margin-top: 30px;
  background-color: #e20509;
  color: #ffffff;
}

.btn_middle:hover {
  color: #ffffff;
}

.btn_congratulate {
  min-width: 180px;
}

.btn_disable {
  background-color: #ebe7dd;
  pointer-events: none;
}

.btn-wrap {
  text-align: center;
  position: relative;
}

.btn-wrap_bigMargin {
  margin-top: 35px;
}

.btn-wrap_minMargin {
  margin-top: 25px;
}

.btn-wrap_min {
  margin-top: 5px;
}

.btn-wrap_bg {
  margin-top: 50px;
  margin-bottom: 70px;
  position: relative;
}

.btn-wrap_bg:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 147px;
  height: 106px;
  background: url("../img/bg-btn.png") no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}

.btn-wrap_bg .btn_pop {
  min-width: 200px;
  background-color: #0cbbcc;
}

.main {
  padding-top: 70px;
  padding-bottom: 90px;
  position: relative;
}

.main:before, .main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/left-top-tree.png") no-repeat center center;
  width: 153px;
  height: 389px;
}

.main:before {
  right: 0;
  width: auto;
  height: 52px;
  background: url("../img/embroidery1.png");
}

.main_new-bg:after {
  display: none;
}

.main_new-bg:before {
  height: 88px;
  background: url("../img/embroidery3.png");
  -webkit-background-size: contain;
          background-size: contain;
}

.form-wrap {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.form {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

.form__globalCard {
  width: 48%;
}

.form--popupMargin {
  margin-top: 20px;
}

.form__tips {
  color: #b4ac96;
  font-size: 12px;
  margin-bottom: 2px;
  text-align: left;
  width: 100%;
  padding-left: 20px;
}

.form__tips--medium {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.form__tips--big {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 0;
  color: #4a4a4a;
}

.form__text {
  margin-top: 20px;
  text-align: center;
  color: #b4ac96;
  font-size: 12px;
}

.form__text--minMargin {
  margin-top: 10px;
  font-size: 16px;
  color: #4a4a4a;
}

.form__text_textLeft {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  color: #4a4a4a;
  padding-right: 15px;
}

.form__text--noMargin {
  margin: 0;
}

.form__text_little {
  color: #4a4a4a;
  font-size: 14px;
}

.form__card {
  margin-top: 20px;
}

.form__card_inline {
  display: inline-block;
  width: 47%;
}

.form__card_mleft {
  margin-left: 10px;
}

.form__card_Mbig {
  margin-top: 40px;
}

.form__input {
  position: relative;
}

.form__input .js-pass {
  position: absolute;
  width: 28px;
  height: 16px;
  top: 19px;
  right: 10px;
  cursor: pointer;
}

.form__input_textarea textarea {
  min-height: 110px;
}

.form__input_little .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  padding-right: 15px;
}

.form__input--maxWidth {
  max-width: 260px;
  margin: 0 auto;
}

.form__step {
  text-align: center;
  color: #4a4a4a;
  font-family: "appetitemondmedium", sans-serif;
  font-size: 14px;
  margin-top: 15px;
}

.social {
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.social__text {
  color: #b4ac96;
  font-size: 12px;
}

.social__icon {
  margin-top: 10px;
}

.social__icon li:nth-child(n+2) {
  margin-left: 15px;
}

.social__icon a {
  display: inline-block;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #b4ac96;
  position: relative;
}

.social__icon a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social__icon a .icon-fb {
  font-size: 20px;
}

.social__icon a .icon-odn {
  font-size: 22px;
}

input, textarea {
  border: 1px solid #b4ac96;
  background-color: #ffffff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #4a4a4a;
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
}

::-ms-clear {
  display: none;
}

textarea {
  min-height: 229px;
  overflow: auto;
  font-family: "robotoregular", sans-serif;
}

.file-photo {
  width: 240px;
  display: block;
  margin-top: 20px;
  margin-bottom: -15px;
}

.file-photo_none {
  display: none;
}

.file-photo input {
  position: absolute;
  top: -1000px;
  visibility: hidden;
}

.file-photo .btn {
  cursor: pointer;
}

.captcha {
  margin: 20px -30px 10px;
  padding: 15px 35px 20px;
  background-color: #ebe7dd;
}

.captcha_feedback {
  padding: 15px 0 20px;
  margin: 18px auto 0;
  width: 300px;
}

.captcha_text {
  font-size: 12px;
  color: #4a4a4a;
}

.captcha__img {
  position: relative;
  padding-right: 25px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.captcha__img:after, .captcha__img:before {
  content: "";
  position: absolute;
  top: 22px;
  right: 10px;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background-color: #e20509;
  width: 2px;
  height: 10px;
}

.captcha__img:before {
  -webkit-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  top: 16px;
}

.captcha__wrap {
  margin-top: 10px;
  position: relative;
}

.captcha__input {
  max-width: 120px;
  text-align: center;
  padding: 10px 20px;
}

.captcha__send {
  max-width: 120px;
}

.captcha #captcha-error {
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  text-align: center;
  padding-left: 0;
}

.substrate {
  margin: 35px -15px 0;
  background-color: #ffffff;
  padding: 20px 50px 55px;
  position: relative;
  text-align: center;
}

.substrate_mrg {
  margin-bottom: 75px;
}

.substrate--full {
  max-width: 100%;
  padding: 50px;
}

.text {
  text-align: center;
  font-size: 16px;
  color: #e20509;
}

.text_middle {
  color: #4a4a4a;
  margin-top: 30px;
}

.text_minMargin {
  margin-top: 10px;
}

.text_big {
  font-size: 18px;
  color: #4a4a4a;
}

.text_big p a {
  color: #e20509;
}

.text_little {
  font-size: 14px;
  color: #4a4a4a;
  margin-top: 35px;
}

.text_table {
  margin-bottom: 80px;
}

.text_absol {
  position: relative;
  z-index: 1;
}

.text_absol:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -78%;
  -webkit-transform: translate(0, -50%) rotateY(180deg);
          transform: translate(0, -50%) rotateY(180deg);
  background: url("../img/snowflake.png") repeat-x;
  -webkit-background-size: contain;
          background-size: contain;
  width: 95%;
  height: 75px;
}

.text_absol:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  right: -78%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/snowflake.png") repeat-x;
  -webkit-background-size: contain;
          background-size: contain;
  width: 95%;
  height: 75px;
}

.text_max-w {
  max-width: 340px;
  margin: 5px auto;
}

.text_alignc {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}

.title {
  color: #e20509;
  font-family: "appetitemondmedium", sans-serif;
  font-size: 18px;
  text-align: center;
}

.title_white {
  color: #ffffff;
}

.title_big {
  font-size: 50px;
  line-height: 50px;
}

.title_middle {
  font-size: 28px;
  line-height: 28px;
}

.conditions {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.conditions .text_big {
  color: #ffffff;
}

.conditions_container {
  position: relative;
}

.conditions__info {
  margin-top: 60px;
  text-align: center;
}

.conditions__content {
  text-align: center;
  overflow: visible;
}

.conditions__step {
  margin-bottom: 20px;
}

.conditions__step .swiper-slide {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.conditions__step .swiper-slide .condition-wrap {
  width: 100%;
  font-size: 16px;
  max-width: 240px;
  height: 240px;
  padding: 120px 18px 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #0cbbcc;
  border: 3px solid #0cbbcc;
  position: relative;
  margin: 0 auto;
}

.conditions__step .swiper-slide .condition-wrap:before, .conditions__step .swiper-slide .condition-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px dashed #ffffff;
}

.conditions__step .swiper-slide .condition-wrap:after {
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
}

.conditions__step .swiper-slide .condition-swipper {
  position: relative;
}

.conditions__step .swiper-slide .condition-swipper:before {
  content: "1";
  font-family: "appetitemondmedium", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: -35px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background-color: #e20509;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.conditions__step .swiper-slide .condition-swipper:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -120px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 221px;
  height: 120px;
  background: url("../img/biscuit-black.png") no-repeat center center;
}

.conditions__step .swiper-slide + .swiper-slide {
  margin-left: 10px;
}

.conditions__step .swiper-slide + .swiper-slide .condition-swipper:before {
  content: "2";
}

.conditions__step .swiper-slide + .swiper-slide .condition-swipper:after {
  top: -131px;
  background: url("../img/check.png") no-repeat center center;
}

.conditions__step .swiper-slide + .swiper-slide + .swiper-slide .condition-swipper:before {
  content: "3";
}

.conditions__step .swiper-slide + .swiper-slide + .swiper-slide .condition-swipper:after {
  top: -125px;
  background: url("../img/knitte_hat.png") no-repeat center center;
}

.conditions .text-stock {
  margin-top: 60px;
}

.condition-text {
  font-family: "appetitemondmedium", sans-serif;
  font-size: 24px;
}

.condition-text:before {
  content: "";
  position: absolute;
  left: -28px;
  top: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.contition-text-min {
  padding: 0 32px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  outline: none;
  width: 50px;
  height: 50px;
  -webkit-background-size: 12px 20px;
          background-size: 12px 20px;
  top: 50%;
  background-image: none;
}

.swiper-button-prev:before, .swiper-button-prev:after,
.swiper-button-next:before,
.swiper-button-next:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(135deg);
      -ms-transform: translate(-50%, 0) rotate(135deg);
          transform: translate(-50%, 0) rotate(135deg);
  width: 6px;
  height: 25px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #e20509;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  top: 20px;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
      -ms-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: .6;
}

.swiper-button-prev {
  left: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-next {
  right: 0;
}

.choose-btn {
  display: block;
}

.choose-btn.swiper-button-next {
  right: -15px;
}

.choose-btn.swiper-button-prev {
  left: -15px;
}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 20px;
}

.swiper-pagination-bullet {
  background: #afa58d;
}

.swiper-pagination-bullet-active {
  background: #e20509;
}

.card-btn {
  display: block;
}

.feedback {
  position: relative;
  z-index: 1;
}

.table {
  width: 100%;
  border-spacing: 45px 20px;
  font-size: 16px;
}

.table_prize {
  border-spacing: 20px;
}

.table_codes {
  border-spacing: 70px 20px;
}

.table--padding {
  border-spacing: 30px 15px;
}

.table--margin {
  text-align: left;
  border-spacing: 40px;
  margin-top: -30px;
  margin-bottom: -30px;
}

.table .question {
  color: #e20509;
}

.table .check-photo {
  max-width: 50px;
  max-height: 50px;
}

.table .check-photo img {
  height: 50px;
  width: 50px;
}

.table .gift {
  max-width: 30px;
  max-height: 30px;
}

.table .gift img {
  height: 30px;
  width: 30px;
}

.table .btn_middle {
  margin-top: 0;
}

.table .track-nomber,
.table .wait,
.table .wait-code {
  color: #e20509;
  text-decoration: underline;
}

.table .head-winner {
  display: none;
}

.table .win-prize {
  max-width: 30px;
  max-height: 30px;
}

.table .win-prize img {
  width: 30px;
  height: 30px;
}

thead th {
  text-align: left;
  color: #b4ac96;
  font-size: 12px;
  padding-bottom: 20px;
  font-weight: 400;
}

tbody td {
  text-align: left;
}

.personal-info {
  position: relative;
  z-index: 1;
}

.tabs {
  margin-top: 50px;
}

.tabs_text-mob {
  display: none;
}

.tabs .substrate {
  margin-top: 20px;
  padding-top: 50px;
}

.nav-tabs li {
  color: #e20509;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 12px 30px;
  cursor: pointer;
  text-decoration: underline;
}

.nav-tabs li:hover {
  background-color: #ffffff;
  color: #4a4a4a;
  text-decoration: none;
}

.nav-tabs li:nth-child(n+2) {
  margin-left: 10px;
}

.nav-tabs .active {
  background-color: #ffffff;
  color: #4a4a4a;
  text-decoration: none;
}

.content-tabs {
  display: none;
}

.content-tabs.active {
  display: block;
}

.checks-no {
  display: block;
}

.partners-logo {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.partners-logo li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/sprites-logo.png") no-repeat;
  background-position: 0 0;
}

.partners-logo li:nth-child(n+2) {
  margin-left: 18px;
  background-position: 0 -50px;
}

.partners-logo li:nth-child(n+3) {
  margin-left: 18px;
  background-position: 0 -100px;
}

.img-code {
  margin: 20px auto 0;
  max-width: 260px;
  max-height: 135px;
}

.checks-yes {
  display: none;
}

.checks-add .text_big {
  margin-bottom: 25px;
}

.checks-add .checks-no {
  display: none;
}

.checks-add .checks-yes {
  display: block;
}

.personal-table {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 350px;
}

.add-name,
.add-email {
  padding: 15px 20px;
}

.js-form-address {
  position: relative;
}

.text-address-wrap {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  border: 1px solid #ebe7dd;
  background-color: #ffffff;
  padding: 20px 10px;
  margin: 10px -18px 30px;
}

#kladr_autocomplete ul {
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 0 15px;
}

.where-checks {
  color: #e20509;
  display: inline-block;
  border-bottom: 1px dashed #e20509;
  margin-top: 20px;
}

.where-checks:hover, .where-checks:focus {
  color: #e20509;
}

.where-checks-wrap {
  display: none;
}

.where-checks-wrap_active {
  display: block;
}

.where-checks-wrap-active {
  display: block;
}

.text-cur {
  color: #0cbbcc;
  font-family: "appetitemondmedium", sans-serif;
}

.slide-choose {
  padding-bottom: 50px;
}

.img-card {
  display: block;
}

.winners {
  position: relative;
  z-index: 1;
}

.winners__table {
  height: 284px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 30px;
}

.gift-colections {
  position: relative;
  z-index: 1;
}

.colections-wrap {
  margin-top: 30px;
}

.colections-wrap__items {
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 50px;
  font-size: 14px;
  cursor: pointer;
  color: #e20509;
  position: relative;
}

.colections-wrap__items:nth-child(n+2) {
  margin-left: 20px;
}

.colections-wrap__items:nth-child(n+2):before {
  background-position: -134px 0;
}

.colections-wrap__items:last-child:before {
  background-position: -257px 0;
}

.colections-wrap__items_active {
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #4a4a4a;
}

.colections-wrap__items:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 48px;
  height: 42px;
  background: url("../img/colection-tabs-sprite.png");
  background-position: -15px 0;
}

.colection-block-wrap {
  display: none;
}

.colection-block-wrap.active {
  display: block;
}

.clolection-clothes-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 80px;
}

.clothes-wrap {
  text-align: center;
  margin-top: 55px;
  position: relative;
}

.clothes-wrap__img {
  width: 250px;
  height: 250px;
}

.clothes-wrap__text {
  margin-top: 15px;
  font-family: "appetitemondmedium", sans-serif;
  font-size: 18px;
}

.clothes-wrap:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 140px;
  background: url("../img/sprites-logo.png") no-repeat center center;
}

.ours-grandmothers {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 280px;
}

.fond-wrap {
  margin-top: 15px;
}

.fond-wrap__text {
  color: #b4ac96;
  font-size: 12px;
  margin-bottom: 5px;
}

.fond-wrap__img img {
  max-height: 60px;
}

.wrap-grandmothers {
  margin-top: 85px;
}

.grandmothers-slider {
  margin-top: 25px;
}

.grandmothers-slider__item {
  min-height: 430px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-grandmother {
  width: 235px;
  margin: 0 auto;
}

.about-grandmother__photo {
  width: 210px;
  height: 210px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.about-grandmother__photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-grandmother__name {
  color: #4a4a4a;
  font-family: "appetitemondmedium", sans-serif;
  font-size: 18px;
  margin-top: 18px;
}

.about-grandmother__fond {
  color: #b4ac96;
  font-size: 12px;
  margin-top: 10px;
}

.about-grandmother__text {
  color: #4a4a4a;
  margin-top: 10px;
  line-height: 18px;
}

.grandmothers-btn {
  display: block;
  top: 22%;
}

.grandmothers-btn.swiper-button-next {
  right: -14px;
}

.grandmothers-btn.swiper-button-prev {
  left: -14px;
}

.gallery-wrap {
  margin-top: 65px;
}

.congratulate-wrap {
  margin-top: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.congratulate-box-wrap {
  margin-left: 30px;
  display: none;
}

.congratulate-box-wrap:nth-child(3n+1) {
  margin-left: 0;
}

.congratulate-box-wrap:nth-child(n+4) {
  margin-top: 30px;
}

.congratulate-box-wrap_test {
  display: none;
  margin-top: 0;
  visibility: hidden;
}

.congratulate-box-wrap_active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.congratulate-box {
  background-color: #ffffff;
  padding: 20px 15px 15px;
  width: 280px;
}

.congratulate-box__heading_for {
  color: #4a4a4a;
  font-family: "appetitemondmedium", sans-serif;
  font-size: 18px;
}

.congratulate-box__heading_from {
  margin-top: 5px;
}

.congratulate-box__content {
  margin-top: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.congratulate-box__text {
  margin-top: 30px;
}

.congratulate-box__all {
  display: block;
  margin-top: 20px;
  color: #e20509;
}

.congratulate-box__all:hover {
  color: #e20509;
}

.congratulate-photo div,
.congratulate-video div {
  width: 90px;
  height: 90px;
  background-color: #ebe7dd;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  position: relative;
}

.congratulate-video {
  margin-left: 18px;
}

.congratulate-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
}

.product {
  position: relative;
  z-index: 1;
}

.product__wrap {
  position: relative;
}

.product-slider {
  padding-top: 70px;
  width: 95%;
}

.product-item {
  text-align: center;
}

.product-item__img {
  position: relative;
}

.product-item__img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.product-item__text {
  margin-top: 40px;
  font-family: "robotobold", sans-serif;
  font-size: 21px;
}

.product-item__text_subtext {
  font-family: "robotoregular", sans-serif;
  font-size: 16px;
}

.product-btn {
  display: block;
  right: -10px;
}

.product-btn + .product-btn {
  left: -10px;
  right: auto;
}

.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
  display: none;
}

body .scroll-element,
body .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
}

body .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

body .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
  display: none !important;
}

body .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

body .scroll-element .scroll-element_outer {
  overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

body .scroll-element .scroll-element_track {
  background: #ebe7dd;
  left: 1px;
  width: 6px;
}

body .scroll-element .scroll-bar {
  width: 12px;
  background-color: #e20509;
  left: -2px;
  position: relative;
}

body .scroll-element .scroll-bar:before, body .scroll-element .scroll-bar:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 12px;
  height: 8px;
  background: url("../img/svg/arrow-top.svg") no-repeat center center;
}

body .scroll-element .scroll-bar:after {
  top: auto;
  bottom: 3px;
  -webkit-transform: translate(-50%, 0) rotate(180deg);
      -ms-transform: translate(-50%, 0) rotate(180deg);
          transform: translate(-50%, 0) rotate(180deg);
}

.photo-download-wrap .scroll-element .scroll-bar:before, .photo-download-wrap .scroll-element .scroll-bar:after {
  display: none;
}

body .scroll-element:hover .scroll-bar {
  background-color: #e20509;
}

body .scroll-element.scroll-draggable .scroll-bar {
  background-color: #e20509;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

@media only screen and (max-width: 1200px) {
  .congratulate-box-wrap {
    width: 45%;
  }
  .congratulate-box-wrap:nth-child(odd) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .congratulate-box-wrap:nth-child(3n+1) {
    margin-left: 30px;
  }
  .congratulate-box-wrap:nth-child(2n+1) {
    margin-left: 0;
  }
  .congratulate-box-wrap:nth-child(n+4) {
    margin-top: 0;
  }
  .congratulate-box-wrap:nth-child(n+3) {
    margin-top: 30px;
  }
  .congratulate-box-wrap_test {
    width: 45%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .height-helper {
    padding-left: 0;
  }
  .height-helper_new-bg {
    background: url("../img/fon-2-new.png");
  }
  .height-helper_new-bg:before {
    left: 0;
  }
  .cookies {
    padding-left: 0;
  }
  .popup.js-popup-show {
    margin-left: 0;
    z-index: 102;
  }
  .header {
    position: relative;
    padding: 0 15px;
    width: auto;
    top: auto;
    left: auto;
    height: auto;
    overflow: visible;
  }
  .header_container {
    max-width: 1005px;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: visible;
    overflow-x: visible;
  }
  .header__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    cursor: pointer;
    width: 25px;
    height: 35px;
    width: 70px;
    height: 70px;
    background-color: #b70015;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__burger .icon-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
  .header__burger .icon-menu-close {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
  }
  .header__burger.active .icon-menu {
    opacity: 0;
  }
  .header__burger.active .icon-menu-close {
    opacity: 1;
  }
  .logo {
    position: relative;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
    margin-bottom: 0;
    width: 100px;
    height: 70px;
    overflow: hidden;
  }
  .logo .icon-logo {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .nav {
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #b70015;
    padding-top: 10px;
    top: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    overflow: hidden;
  }
  .nav__link {
    font-size: 16px;
    padding-left: 70px;
    padding-right: 5px;
  }
  .nav__link:hover {
    color: #e20509;
  }
  .nav.active {
    margin-top: 70px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .personal-area-photo {
    display: block;
    visibility: hidden;
  }
  .personal-area-photo__wrap {
    margin-left: 65px;
    width: 70px;
    height: 60px;
    background-color: #0cbbcc;
    position: relative;
  }
  .personal-area-photo__wrap:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 7px solid #e20509;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
  }
  .personal-area-photo.login-photo {
    visibility: visible;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .personal-area {
    padding-left: 70px;
    padding-right: 5px;
    margin-top: 40px;
  }
  .personal-area__text {
    font-size: 16px;
  }
  .text-card-wrap {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: -12px;
  }
  .text-card-wrap__text {
    color: #ffffff;
    width: 145px;
    font-family: "appetitemondmedium", sans-serif;
    font-size: 15px;
    padding: 0 15px 0 35px;
    background-color: #e20509;
    background: -webkit-linear-gradient(15deg, transparent 25px, #e20509 0);
    background: -o-linear-gradient(15deg, transparent 25px, #e20509 0);
    background: linear-gradient(75deg, transparent 25px, #e20509 0);
    position: relative;
    margin-right: 0px;
  }
  .text-card-wrap__text:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 6px;
    height: auto;
    -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
            transform: rotate(1deg);
    background: url("../img/waves-border.png") no-repeat 3% 0;
  }
  .text-card-wrap__send-card {
    width: 150px;
    height: 115px;
    background: url("../img/send-card-mob.png") no-repeat center center;
    margin-top: 0;
    margin-left: -2px;
  }
  .conditions__info {
    margin-top: 30px;
  }
  .conditions__content {
    overflow: hidden;
    width: 52%;
    padding: 30px 50px 0;
  }
  .conditions__step {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .conditions__step .swiper-slide {
    max-width: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .conditions__step .swiper-slide .condition-wrap {
    margin: 0;
  }
  .conditions__step .swiper-slide + .swiper-slide {
    margin-left: 0;
  }
  .condition-btn {
    display: block;
    margin-top: -25px;
  }
  .grandmothers-slider {
    width: 75%;
  }
  .substrate_mrg {
    margin-bottom: 80px;
  }
  .substrate:before {
    top: -86px;
    left: -35px;
    width: 215px;
    height: 200px;
    background: url("../img/berries.png") no-repeat center center;
  }
  .substrate:after {
    display: none;
  }
  .footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .height-helper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .height-helper:before {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: url("../img/embroidery_mob.png");
    height: 90px;
  }
  .height-helper:after {
    display: none;
  }
  .height-helper_new-bg {
    background: url("../img/fon-2-new.png");
  }
  .height-helper_new-bg:before {
    display: none;
  }
  .height-helper_new-bg:after {
    display: block;
    right: 50%;
    margin-right: -240px;
    width: 440px;
    height: 160px;
  }
  .height-helper .text-card-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main:before, .main:after {
    display: none;
  }
  .main_new-bg:before {
    display: block;
  }
  .substrate {
    padding: 35px 10px 40px;
  }
  .conditions__content {
    width: 100%;
  }
  .conditions_container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .conditions__info {
    width: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
  .rules-swiper {
    overflow: hidden;
  }
  .slide-rules__photo {
    padding: 0;
  }
  .slide-rules__title {
    font-size: 22px;
    max-width: 340px;
  }
  .slide-rules__text {
    font-size: 16px;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav li + li {
    margin-left: 0;
    margin-top: 15px;
  }
  .footer__nav li:before {
    top: -8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .btn--def {
    min-width: 250px;
  }
  .table {
    border-spacing: 20px 10px;
    font-size: 12px;
  }
  .table_codes {
    border-spacing: 30px 20px;
  }
  .table .heading-photo-checks {
    display: none;
  }
  .table .personal-photo-check_gift {
    display: none;
  }
  .table .gift {
    max-width: 50px;
    max-height: 50px;
  }
  .table .gift img {
    height: 50px;
    width: 50px;
  }
  .table .btn_middle {
    font-size: 12px;
  }
  thead th {
    font-size: 11px;
  }
  .tabs_text-desk {
    display: none;
  }
  .tabs_text-mob {
    display: block;
  }
  .captcha {
    margin: 20px -10px 0;
    padding: 15px 20px 20px;
  }
  .captcha_feedback {
    margin: 18px auto 0;
  }
  .cookies__text {
    width: 100%;
  }
  .clolection-clothes-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .clothes-wrap {
    width: 60%;
  }
  .clothes-wrap__img {
    margin: 0 auto;
  }
  .ours-grandmothers {
    margin-bottom: 0;
  }
  .ours-grandmothers .text_absol p {
    display: inline;
  }
  .ours-grandmothers .text_absol:before {
    display: none;
  }
  .ours-grandmothers .text_absol:after {
    display: none;
  }
  .fond-wrap__img {
    position: relative;
  }
  .fond-wrap__img:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -70%;
    -webkit-transform: translate(0, -50%) rotateY(180deg);
            transform: translate(0, -50%) rotateY(180deg);
    background: url("../img/snowflake.png") repeat-x;
    -webkit-background-size: contain;
            background-size: contain;
    width: 95%;
    height: 75px;
  }
  .fond-wrap__img:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    right: -70%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: url("../img/snowflake.png") repeat-x;
    -webkit-background-size: contain;
            background-size: contain;
    width: 95%;
    height: 75px;
  }
  .wrap-grandmothers .text_middle p {
    display: inline;
  }
  .congratulate-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .congratulate-box-wrap {
    margin-left: 0;
    margin-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .congratulate-box-wrap:first-child {
    margin-top: 0;
  }
  .congratulate-box-wrap:nth-child(odd) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .congratulate-box-wrap:nth-child(3n+1) {
    margin-left: 0;
  }
  .congratulate-box-wrap:nth-child(n+4) {
    margin-top: 30px;
  }
  .popup__wrap_big {
    max-width: 300px;
    padding-top: 40px;
  }
  .popup__wrap_big .title:before {
    top: -120px;
    width: 230px;
    height: 115px;
  }
  .popup__wrap_big .form__text--minMargin {
    padding: 0;
  }
  .popup__wrap_big .form__text_little p {
    display: inline;
  }
  .popup__wrap_big .slide-choose {
    padding: 0 25px 40px;
    margin: 0 -25px;
  }
  .popup__wrap_big .swiper-container-horizontal > .swiper-pagination {
    bottom: 10px;
  }
  .gallery-card-slider .slide-card {
    margin: 0 -15px;
    padding: 0 25px;
  }
  .gallery-card-slider .card-btn.swiper-button-next {
    right: -14px;
  }
  .gallery-card-slider .card-btn.swiper-button-prev {
    left: -14px;
  }
  .gallery-card-add .form__tips {
    padding-left: 20px;
  }
  .download-file-congratulate {
    width: 240px;
  }
  .popup__wrap_very-big {
    max-width: 300px;
  }
  .sides-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 479px) {
  .title_big {
    font-size: 30px;
    line-height: 30px;
  }
  .conditions__content {
    padding: 30px 0 0;
  }
  .conditions__text {
    font-size: 16px;
  }
  .conditions__info {
    margin-top: 0;
  }
  .swiper-button-prev {
    left: -13px;
  }
  .swiper-button-next {
    right: -13px;
  }
  .condition-text {
    font-size: 28px;
  }
  .substrate {
    padding: 15px 10px 40px;
  }
  .substrate textarea {
    min-height: 160px;
  }
  .winners__table {
    height: 405px;
  }
  .winners .form__card {
    margin-top: 0;
  }
  .winners .form__tips--big {
    margin-top: 30px;
    font-size: 16px;
  }
  .form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .form__globalCard {
    width: 100%;
  }
  .form-wrap {
    margin-top: 0;
  }
  .captcha_feedback {
    width: auto;
    margin: 20px -30px 10px;
  }
  .text_big {
    font-size: 16px;
  }
  .text_big p {
    display: inline;
  }
  .text_little p {
    display: inline;
  }
  .table {
    width: auto;
    margin: 20px auto 0;
  }
  .table thead {
    display: none;
  }
  .table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .table tr + tr {
    margin-top: 45px;
  }
  .table tr td {
    display: block;
    margin-left: 80px;
  }
  .table tr td:last-child {
    font-size: 16px;
  }
  .table .personal-num {
    font-size: 16px;
  }
  .table .personal-photo-check {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
  }
  .table .gift {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
  }
  .table_codes {
    width: 100%;
    border-spacing: 15px 20px;
  }
  .table_codes .heading-codes {
    display: table-header-group;
  }
  .table_codes .heading-codes th {
    display: block;
  }
  .table_codes .heading-codes .date-reg {
    display: none;
  }
  .table_codes tr {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .table_codes tr td {
    display: block;
    margin-left: 0;
  }
  .table_codes tr td:last-child {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    width: 165px;
    text-align: center;
  }
  .table_codes .btn_middle {
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
  }
  .table_codes .personal-code {
    font-family: "robotobold", sans-serif;
    font-size: 16px;
    width: 90px;
    word-break: break-all;
    overflow-wrap: break-word;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .table_codes .personal-date {
    width: 100%;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .table--padding {
    width: 100%;
    border-spacing: 15px 20px;
    margin: 0;
  }
  .table--padding thead {
    display: block;
  }
  .table--padding thead tr {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .table--padding thead th {
    display: none;
  }
  .table--padding thead .head-winner {
    display: block;
  }
  .table--padding thead .head-prize {
    display: block;
  }
  .table--padding tr {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .table--padding tr td {
    display: block;
    margin-left: 0;
  }
  .table--padding tr td:last-child {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    width: 165px;
    text-align: center;
  }
  .table--padding .win-name {
    font-size: 16px;
    font-family: "robotobold", sans-serif;
  }
  .table--padding .win-prize {
    max-width: 60px;
    max-height: 60px;
  }
  .table--padding .win-prize img {
    width: 60px;
    height: 60px;
  }
  .nav-tabs li {
    font-size: 14px;
    padding: 10px 20px;
  }
  .grandmothers-slider {
    width: 100%;
  }
  .popup {
    padding: 0 10px;
  }
  .popup__wrap {
    top: 60px;
  }
  .popup__wrap_big {
    top: 120px;
  }
  .colections-wrap__items:nth-child(n+2) {
    margin-left: 0;
  }
  .clothes-wrap {
    width: 80%;
  }
  .clothes-wrap:first-child:before {
    right: -15px;
  }
  .clothes-wrap__img {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
  }
  .clothes-wrap__text {
    margin-top: 10px;
  }
}
