<aside class="header">
    <div class="container header_container">
        <div class="header__wrap">
            <a href="personal-area.html" class="logo">
                <span class="icon-logo"></span>
            </a>
            <a class="header__burger" href="#">
				<span class="icon-menu"></span>
				<span class="icon-menu-close"></span>
            </a>
            <nav class="nav">
                <a class="nav__link active" href="index.html">Главная</a> <!-- Active link - .active -->
                <a class="nav__link" href="ours-grandmothers.html">Наши бабушки</a>
                <a class="nav__link" href="gifts.html">Подарки от бабушек</a>
                <a class="nav__link" href="product.html">Продукт</a>
                <a class="nav__link" href="winners.html">Победители</a>
                <a class="nav__link" href="feedback.html">Обратная связь</a>
                <div class="personal-area login">
                    <!-- Для залогиненого юзера добавить класс - .login -->
                    <div class="personal-area__no-entry js-popup-button" data-popupShow="entrance">
                        <div class="personal-area__photo">
                            <span class="icon-LK-icon personal-area__photo_icon"></span>
                        </div>
                        <div class="personal-area__text personal-area__text_hover">
                            <p>Личный кабинет</p>
                        </div>
                    </div>
                    <div class="personal-area__entry">
                        <div class="personal-area__info flex-cont">
                            <div class="personal-area__photo">
                                <span class="icon-LK-icon personal-area__photo_icon"></span>
                            </div>
                            <div class="personal-area__text personal-area__text_hover">
                                <p>Олег Кабинет Кабинетович</p>
                            </div>
						</div>
						<a href="#" class="personal-area__exit-btn">Выйти</a>
                    </div>
				</div>
				<div class="text-card-wrap">
					<p class="text-card-wrap__text">
						Поздравьте родных и любимых
					</p>
					<a href="personal-area.html" class="text-card-wrap__send-card"></a>
				</div>
			</nav>
			<div class="personal-area-photo login-photo"> <!-- Для залогиненого юзера добавить класс - .login-photo -->
				<div class="personal-area-photo__wrap">
					<span class="icon-LK-icon personal-area-photo_icon login-photo"></span>
				</div>
			</div>
        </div>
    </div>
</aside>