<!-- Cookies -->
<div class="cookies">
    <div class="container">
        <div class="cookies__text">
            <p>Мы используем технологию «cookies», чтобы упростить навигацию на нашем сайте. Чтобы принять политику
                “сookies” нажимите кнопку ниже или продолжите навигацию по сайту. Чтобы узнать больше о том, как мы
                используем “сookies”, <a href="#">нажмите здесь</a></p>
        </div>
        <a href="#" class="btn btn_cook">Принять</a>
    </div>
</div>

<!-- Popup -->
<div class="popup entrance">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup"></div>
        <div class="title">
            <span>Войти на сайт</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Адрес электронной почты</span>
                    </div>
                    <div class="form__input">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Пароль</span>
                    </div>
                    <div class="form__input">
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="text text_alignc">
                    <a href="#">Забыл пароль?</a>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_disable" disabled="disabled">Войти</button>
                </div>
                <div class="form__text">
                    <p>Впервые на сайте?</p>
                    <div class="text">
                        <a href="#" class="js-popup-button" data-popupShow="reg-step-1">Зарегистрируйтесь!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!--Актиный попап - .js-popup-show-->

<div class="popup reg-step-1">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup"></div>
        <div class="title">
            <span>Регистрация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Заполни, пожалуйста, все поля формы регистрации</p>
				</div>
				<div class="form__step">
                    <span>Шаг 1 из 2</span>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Фамилия</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="surname">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Имя</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
				</div>
				<div class="form__card">
                    <div class="form__tips">
                        <span>Отчество</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="secondname">
                    </div>
				</div>
				<div class="form__card">
                    <div class="form__tips">
                        <span>Адрес электронной почты</span>
                    </div>
                    <div class="form__input">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_disable" disabled="disabled">Дальше</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-step-2">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup"></div>
        <div class="title">
            <span>Регистрация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__step">
                    <span>Шаг 2 из 2</span>
                </div>
                <div class="form__card">
					<div class="form__tips">
                        <span>Придумайте пароль</span>
                    </div>
                    <div class="form__input">
                        <input type="password" name="password">
                    </div>
				</div>
				<div class="form__card">
					<div class="form__tips">
                        <span>Повторите пароль</span>
                    </div>
                    <div class="form__input">
                        <input type="password" name="password">
                    </div>
                </div>				
				<div class="form__card">
                    <label class="checkbox">
                        <input type="checkbox" name="rules" required/>
                        <div class="checkbox__text">Я согласен c <a href="#">Правилами акции</a></div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="personalAgreement" required/>
                        <div class="checkbox__text">Я согласен на обработку моих персональных данных</div>
                    </label>
                </div>
                <div class="captcha">
                    <div class="form__text form__text--noMargin captcha_text">
                        <p>Введите символы с картинки</p>
                    </div>
                    <div class="captcha__wrap flex-cont align-center justify-sb">
                        <div class="captcha__img flex-cont align-c">
                            <img src="img/nomber_captcha.jpg" alt="">
                        </div>
                        <div class="captcha__send">
                            <input class="captcha__input" type="text" name="captcha">
                        </div>
                    </div>
				</div>
				<div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_pop btn_disable" disabled="disabled">Зарегистрироваться</button>
				</div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-step-3">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup"></div>
        <div class="title">
            <span>Готово</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Ура! Регистрация прошла успешно!</p>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_pop">Загрузить чек</button>
				</div>
            </form>
        </div>
    </div>
</div>

<div class="popup download-check">
	<div class="popup__wrap">
		<div class="popup__close js-close-popup"></div>
		<div class="title">
			<span>Загрузить чек</span>
		</div>
		<div class="form form--popupMargin">
			<form>
				<div class="text-download-wrap">
					<div class="form__text form__text_textLeft">
						<p>Нажмите на кнопку «Загрузить чек» и сделайте фото чека.</p>
					</div>
					<div class="form__text form__text_textLeft">
						<p>Постарайтесь, чтобы фото получилось четким, а текст читаемым</p>
					</div>
					<div class="form__text form__text_textLeft">
						<p>Если чек длинный, сделайте и загрузите несколько фото.</p>
					</div>
					<div class="form__text form__text_textLeft">
						<p>Если на чеке есть QR-код, сделайте его фото отдельным кадром.</p>
					</div>
					<div class="form__text form__text_textLeft">
						<p>За один раз можно зарегистрировать только один чек.</p>
					</div>
					<div class="form__text form__text_textLeft">
						<p>Если фото будет плохого качества, мы не сможем принять ваш чек, так что постарайтесь :-)</p>
					</div>
				</div>
				<div class="btn-wrap btn-wrap_minMargin">
					<button type="submit" class="btn btn_def btn_down js-popup-button" data-popupShow="download-check-photo" >Загрузить чек</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="download-photo" class="popup download-check-photo">
	<div class="popup__wrap">
		<div class="popup__close js-close-popup"></div>
		<div class="title">
			<span>Ваш чек</span>
		</div>
		<div class="form form--popupMargin">
			<form>
				<div id="download-wrap" class="photo-download-wrap"></div>
				<label for="file-photo-check" id="photo-download" class="file-photo">
					<input type="file" id="file-photo-check" class="file-photo-check" name="image[]" accept="image/*,image/jpeg">
					<div class="btn-wrap">
						<p class="btn btn_def btn_file">Добавить фото</p>
					</div>
				</label>
				<div class="btn-wrap btn-wrap_minMargin">
					<button type="submit" class="btn btn_def">Отправить на модерацию</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="popup download-check-end">
    <div class="popup__wrap">
        <div class="popup__close js-close-popup"></div>
        <div class="title">
            <span>Большое спасибо!</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__text form__text--minMargin ">
                    <p>Мы получили чек и проверяем его.</p>
				</div>
				<div class="form__text form__text--minMargin ">
                    <p>Подробнее о статусе проверки можно узнать в Личном кабинете.</p>
                </div>
                <div class="btn-wrap btn-wrap_minMargin">
                    <button type="submit" class="btn btn_def btn_pop">Понятно</button>
				</div>
            </form>
        </div>
    </div>
</div>

<div class="popup send-card-slider">
	<div class="popup__wrap popup__wrap_big">
		<div class="popup__close js-close-popup"></div>
		<div class="title">
			<span>Выберите открытку</span>
		</div>
		<div class="form form--popupMargin">
			<form>
				<input hidden name="select-slide" id="select-slider">
				<div class="swiper-container slide-choose">
					<div class="swiper-wrapper slide-choose__wrap">
						<div class="swiper-slide slide-choose__item">
							<div class="img-card">
								<img src="../img/card.jpg" alt="">
							</div>
						</div>
						<div class="swiper-slide slide-choose__item">
							<div class="img-card">
								<img src="../img/card.jpg" alt="">
							</div>
						</div>
						<div class="swiper-slide slide-choose__item">
							<div class="img-card">
								<img src="../img/card.jpg" alt="">
							</div>
						</div>
						<div class="swiper-slide slide-choose__item">
							<div class="img-card">
								<img src="../img/card.jpg" alt="">
							</div>
						</div>
						<div class="swiper-slide slide-choose__item">
							<div class="img-card">
								<img src="../img/card.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="choose-btn swiper-button-next"></div>
					<div class="choose-btn swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
				</div>
				<div class="btn-wrap btn-wrap_minMargin">
					<button type="button" class="btn btn_def btn_pop js-close-popup">Выбрать</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="popup check-successful">
    <div class="popup__wrap">
		<div class="popup__close js-close-popup"></div>
        <div class="title">
            <span>Поздравляем!</span>
        </div>
        <div class="popup__text popup__text--marginTop popup__text_marginminus">
            <span> Вас ждет подарок от «Юбилейного»! Просто загляните в				
				<a href="#">Личный кабинет.</a>
			</span>
        </div>
        <div class="btn-wrap btn-wrap_minMargin">
            <button type="submit" class="btn btn_def">Спасибо!</button>
        </div>
        <div class="social">
			<p class="social__text">Поделиться радостью с друзьями</p>
			<ul class="social__icon flex-cont justify-c">
				<li><a href="#"><span class="icon-vk"></span></a></li>
				<li><a href="#"><span class="icon-fb"></span></a></li>
				<li><a href="#"><span class="icon-odn"></span></a></li>
			</ul>		
		</div>	
    </div>
</div>

<div id="gallery-card-slider" class="popup gallery-card-slider">
	<div class="popup__wrap popup__wrap_big">
		<div class="popup__close js-close-popup"></div>
		<div class="title">
			<span></span>
			<p></p>
		</div>
		<div class="form form--popupMargin">
			<div class="swiper-container slide-card">
				<div class="swiper-wrapper slide-card__wrap">
					<div class="swiper-slide slide-card__item">
						<div class="img-card">
							<img src="img/photo_or_video.jpg" alt="">
						</div>
					</div>
					<div class="swiper-slide slide-card__item">
						<div class="img-card">
							<img src="img/photo_or_video.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="card-btn swiper-button-next"></div>
				<div class="card-btn swiper-button-prev"></div>
			</div>
			<div class="form__text form__text--minMargin ">
				<p></p>
			</div>
		</div>
	</div>
</div>




<div id="gallery-card-add" class="popup gallery-card-add">
	<div class="popup__wrap popup__wrap_big">
		<div class="popup__close js-close-popup"></div>
		<div class="title">
			<span>Отправить благодарность</span>
		</div>
		<div class="form__text form__text--minMargin ">
			<p>Теплые слова важны для всех, но для бабушек — в особенности!</p>
		</div>
		<div class="form form--popupMargin">
			<form>
				<div class="form__text form__text--minMargin ">
					<p>Здесь можно оставить свое фото или видео со словами благодарности для бабушки, связавшей вам подарок.</p>
				</div>
				<div class="form__card">
					<div class="form__tips">
                        <span>Ваше имя</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name">
                    </div>
				</div>
				<div class="form__card">
					<div class="form__tips">
                        <span>Текст (не более 140 символов)</span>
                    </div>
                    <div class="form__input">
                        <textarea name="surname"></textarea>
                    </div>
				</div>
				<div class="download-file-congratulate flex-cont justify-sb ">
					<label for="file-card-photo" id="card-download" class="download-congratulate">
						<input type="file" id="file-card-photo" class="file-card-photo" accept="image/*,image/jpeg">
						<div class="btn-send">
							<span class="congratulate-icon icon-photo-send"></span>
						</div>
						<p>Добавить фото</p>
					</label>
					<label for="file-card-video" id="video-download" class="download-congratulate">
						<input type="file" id="file-card-video" class="file-card-video" accept="video/mp4,video/x-m4v,video/*">
						<div class="btn-send">
							<span class="congratulate-icon icon-video-send"></span>
						</div>
						<p>Добавить видео</p>
					</label>
				</div>
				<div class="btn-wrap btn-wrap_bigMargin">
					<button type="button" class="btn btn_def btn_pop js-close-popup btn_disable" disabled="disabled">Спасибо!</button>
				</div>
			</form>			
		</div>
		<div class="social">
			<p class="social__text">Поделиться радостью с друзьями</p>
			<ul class="social__icon flex-cont justify-c">
				<li><a href="#"><span class="icon-vk"></span></a></li>
				<li><a href="#"><span class="icon-fb"></span></a></li>
				<li><a href="#"><span class="icon-odn"></span></a></li>
			</ul>		
		</div>	
	</div>
</div>
<div class="popup download-reg">
	<div class="popup__wrap popup__wrap_very-big">
		<div class="popup__close js-close-popup"></div>
		<div class="sides-wrap flex-cont">
			<div class="side">
				<div class="title">
					<span>Выигрывайте теплые подарки от бабушек</span>
				</div>
				<div class="side__img">
					<img src="img/biscuit-white.png" alt="">
				</div>
				<div class="form__text form__text--minMargin ">
					<p>Загружайте чеки от покупок печенья «Юбилейное»</p>
				</div>
				<div class="btn-wrap btn-wrap_bigMargin">
					<a href="#" class="btn btn_def js-popup-button" data-popupShow="download-check">
						<span>Загрузить чек</span>
					</a>
				</div>
			</div>
			<div class="side side_other">
				<div class="title">
					<span>Отправляйте открытки с теплыми пожеланиями</span>
				</div>
				<div class="side__img">
					<img src="img/pac-biscuit.png" alt="">
				</div>
				<div class="form__text form__text--minMargin ">
					<p>Регистрируйте коды с пачек «Зимнее ассорти»</p>
				</div>
				<div class="btn-wrap btn-wrap_bigMargin">
					<a href="#" class="btn btn_def js-popup-button" data-popupShow="">
						<span>Зарегистрировать код</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
