<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
<script src="js/library.min.js" defer></script>
<script src="js/forms.js" defer></script>
<script src="js/app.js" defer></script>