// Body BG -----------------
body {
    position: relative;

    &.no-scroll {
        overflow: hidden !important;
        height: 100%;
        width: 100%;
        position: fixed;
    }
}

// Button ---------------------
.btn {
    display: inline-block;
	text-align: center;
	border-radius: 25px;
	color: $colorWhite;
	background-color: $colorBtn;

	&:hover {
        color: $colorWhite;
    }

    &:focus {
        color: $colorWhite;
    }

    &_def {
        font-size: 16px;
        padding: 15px 20px;
		min-width: 240px;
    }

    &_big {
        font-size: 18px;
        min-width: 220px;
		padding: 25px 20px;
		border-radius: 50px;
	}
	
	&_info {
		margin-top: 15px;
		min-width: 240px;
		background-color: #ed1846;
		border-radius: 25px;
		padding: 15px 25px;
		font-size: 24px;
		text-transform: none;
	}

	&_down {
		padding-left: 30px;
		position: relative;
		margin-left: -15px;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 50px;
			background: url("../img/svg/notebook.svg") no-repeat center center;
			width: 16px;
			height: 18px;
		}
	}

	&_file {
		background-color: $colorWhite;
		border: 1px solid $colorRed;
		color: $colorRed;

		&:hover {
			color: $colorRed;
		}
	}

    &_cook {
		min-width: 100px;
		border-radius: 25px;
        color: $colorWhite;
        background-color: $colorBtn;
        font-size: 14px;
        padding: 7px 0;

        &:hover {
            color: $colorWhite;
        }
    }

    &_abs {
		position: absolute;
		z-index: 1;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }

    &_min {
        padding: 10px 20px;
		font-size: 14px;
		color: #b70015;
        border-radius: 25px;
		min-width: 130px;
		background-color: $colorWhite;
		margin-top: 10px;

		&:hover {
			color: #b70015;
		}
	}
	
	&_middle {
		margin-top: 30px;
		background-color: $colorBtn;
		color: $colorWhite;

		&:hover {
			color: $colorWhite;
		}
	}

	&_congratulate {
		min-width: 180px;
	}

    &_disable {
        background-color: #ebe7dd;
        pointer-events: none;
    }
}

.btn-wrap {
    text-align: center;
    position: relative;

    &_bigMargin {
        margin-top: 35px;
    }

    &_minMargin {
        margin-top: 25px;
    }

    &_min {
        margin-top: 5px;
	}
	
	&_bg {
		margin-top: 50px;
		margin-bottom: 70px;
		position: relative;
		
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 147px;
			height: 106px;
			background: url("../img/bg-btn.png") no-repeat center center;
			background-size: contain;
		}

		.btn_pop {
			min-width: 200px;
			background-color: #0cbbcc;
		}
	}
}

// Main ------------------------
.main {
    padding-top: 70px;
    padding-bottom: 90px;
	position: relative;
	
	&:before,
	&:after {
		content: "";
		position: absolute;;
		top: 0;
		left: 0;
		background: url("../img/left-top-tree.png") no-repeat center center;
		width: 153px;
		height: 389px;
	}

	&:before {
		right: 0;
		width: auto;
		height: 52px;
		background: url("../img/embroidery1.png");
	}

	&_new-bg {
		&:after {
			display: none;
		}

		&:before {
			height: 88px;
			background: url("../img/embroidery3.png");
			background-size: contain;
		}
	}
}

// Form ---------------------
.form-wrap {
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.form {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;

    &__globalCard {
        width: 48%;
    }

    &--popupMargin {
        margin-top: 20px;
    }

    &__tips {
        color: $colorGray;
        font-size: 12px;
        margin-bottom: 2px;
        text-align: left;
		width: 100%;
		padding-left: 20px;

        &--medium {
            font-size: 16px;
            text-align: center;
            margin-bottom: 5px;
        }

        &--big {
            font-size: 18px;
            text-align: center;
			margin-bottom: 10px;
			padding-left: 0;
            color: #4a4a4a;
        }
    }

    &__text {
        margin-top: 20px;
		text-align: center;
		color: $colorGray;
		font-size: 12px;

        &--minMargin {
			margin-top: 10px;
			font-size: 16px;
			color: #4a4a4a;
		}
		
		&_textLeft {
			margin-top: 20px;
			text-align: left;
			font-size: 16px;
			color: #4a4a4a;
			padding-right: 15px;
        }

        &--noMargin {
            margin: 0;
		}

		&_little {
			color: #4a4a4a;
			font-size: 14px;
		}
	}

    &__card {
        margin-top: 20px;

        &_inline {
			display: inline-block;
			width: 47%;
		}
		
		&_mleft {
			margin-left: 10px;
		}

		&_Mbig {
			margin-top: 40px;
		}
	}

    &__input {
        position: relative;

        .js-pass {
            position: absolute;
            width: 28px;
            height: 16px;
            top: 19px;
            right: 10px;
            cursor: pointer;
        }

        &_textarea {
            textarea {
                min-height: 110px;
            }
        }

        &_little {
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                font-size: 14px;
                padding-right: 15px;
            }
        }

        &--maxWidth {
            max-width: 260px;
            margin: 0 auto;
        }
    }

    &__step {
		text-align: center;
		color: #4a4a4a;
		font-family: $fontAppetite;
		font-size: 14px;
		margin-top: 15px;
	}
}

.social {
	text-align: center;
	margin-top: 30px;
	position: relative;

	&__text {
		color: $colorGray;
		font-size: 12px;
	}

	&__icon {
		margin-top: 10px;

		li {

			&:nth-child(n+2) {
				margin-left: 15px;
			}
		}

		a {
			display: inline-block;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background-color: $colorGray;
			position: relative;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.icon-fb {
				font-size: 20px;
			}

			.icon-odn {
				font-size: 22px;
			}
		}
	}
}

input, textarea {
	border: 1px solid $colorGray;
	background-color: $colorWhite;
	border-radius: 25px;
    color: #4a4a4a;
    font-size: 16px;
    padding: 15px 20px;
    width: 100%;
}

::-ms-clear {
    display: none;
}

textarea {
    min-height: 229px;
	overflow: auto;
	font-family: $fontRr;
}

.file-photo {
	width: 240px;
	display: block;
	margin-top: 20px;
	margin-bottom: -15px;

	&_none {
		display: none;
	}

	input {
		position: absolute;
        top: -1000px;
        visibility: hidden;
	}

	.btn {
		cursor: pointer;
	}
}

// Captcha -----------------
.captcha {
    margin: 20px -30px 10px;
    padding: 15px 35px 20px;
    background-color: #ebe7dd;

    &_feedback {
        padding: 15px 0 20px;
		margin: 18px auto 0;
		width: 300px;
    }

    &_text {
        font-size: 12px;
        color: #4a4a4a;
    }

    &__img {
        position: relative;
		padding-right: 25px;
		flex-shrink: 0;

		&:after,
		&:before {
            content: "";
            position: absolute;
            top: 22px;
    		right: 10px;
			transform: translateY(-50%) rotate(45deg);
            background-color: $colorRed;
            width: 2px;
			height: 10px;
		}

		&:before {
			transform: translateY(-50%) rotate(135deg);
			top: 16px;
		}
    }

    &__wrap {
        margin-top: 10px;
        position: relative;
    }

    &__input {
        max-width: 120px;
		text-align: center;
		padding: 10px 20px;
    }

    &__send {
        max-width: 120px;
    }

    #captcha-error {
        position: absolute;
        bottom: -18px;
        left: 0;
        right: 0;
		text-align: center;
		padding-left: 0;
    }
}

// Substrate ----------------
.substrate {
    margin: 35px -15px 0;
    background-color: $colorWhite;
    padding: 20px 50px 55px;
    position: relative;
    text-align: center;

    &_mrg {
        margin-bottom: 75px;
    }

    &--full {
        max-width: 100%;
        padding: 50px;
    }
}

// Text ---------------------
.text {
    text-align: center;
    font-size: 16px;
	color: $colorRed;
	
	&_middle {
		color: #4a4a4a;
		margin-top: 30px;
	}

    &_minMargin {
		margin-top: 10px;
    }

    &_big {
		font-size: 18px;
		color: #4a4a4a;

		p {
			a {
				color: $colorRed;
			}
		}
	}

	&_little {
		font-size: 14px;
		color: #4a4a4a;
		margin-top: 35px;
	}
	
	&_table {
		margin-bottom: 80px;
	}

	&_absol {
		position: relative;
		z-index: 1;

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			left: -78%;
			transform: translate(0, -50%) rotateY(180deg);
			background: url("../img/snowflake.png") repeat-x;
			background-size: contain;
			width: 95%;
			height: 75px;
		}

		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			right: -78%;
			transform: translate(0, -50%);
			background: url("../img/snowflake.png") repeat-x;
			background-size: contain;
			width: 95%;
			height: 75px;
		}
	}

    &_max-w {
        max-width: 340px;
        margin: 5px auto;
    }

    &_alignc {
		margin-top: 5px;
        text-align: center;
        font-size: 12px;
    }
}

// Title ----------------------
.title {
	color: $colorRed;
	font-family: $fontAppetite;
	font-size: 18px;
	text-align: center;

	&_white {
		color: $colorWhite;
	}
	
	&_big {
		font-size: 50px;
		line-height: 50px;
	}

	&_middle {
		font-size: 28px;
		line-height: 28px;
	}
}

// Conditions -------------------
.conditions {
	position: relative;
	text-align: center;
	color: $colorWhite;

	.text_big {
		color: $colorWhite;
	}

    &_container {
		position: relative;
	}

    &__info {
        margin-top: 60px;
        text-align: center;
    }

    &__content {
		text-align: center;
		overflow: visible;
    }

    &__step {
        margin-bottom: 20px;

        & .swiper-slide {
			flex-shrink: 1;

			.condition-wrap {
				width: 100%;
				font-size: 16px;
				max-width: 240px;
				height: 240px;
				padding: 120px 18px 50px;
				border-radius: 50%;
				background-color: #0cbbcc;
				border: 3px solid #0cbbcc;
				position: relative;
				margin: 0 auto;

				&:before,
				&:after  {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					border-radius: 50%;
					border: 1px dashed $colorWhite;
				}
				
				&:after {
					top: 4px;
					bottom: 4px;
					left: 4px;
					right: 4px;
				}
			}
			
            .condition-swipper {
                position: relative;

                &:before {
					content: "1";
					font-family: $fontAppetite;
					font-size: 18px;
					text-align: center;
					line-height: 32px;
					position: absolute;
					z-index: 2;
					left: 50%;
					top: -35px;
					margin-left: -15px;
                    width: 30px;
					height: 30px;
					background-color: $colorRed;
					border-radius: 50%;
				}
				
				&:after {
					content: "";
					position: absolute;
					z-index: 1;
					top: -120px;
					left: 50%;
					transform: translate(-50%, 0);
					width: 221px;
					height: 120px;
					background: url("../img/biscuit-black.png") no-repeat center center;
				}
            }

            &+.swiper-slide {
				margin-left: 10px;
                
                .condition-swipper {
                    &:before {
                        content: "2";
					}
					
					&:after {
						top: -131px;
						background: url("../img/check.png") no-repeat center center;
					}
                }
            }

            &+.swiper-slide+.swiper-slide {

                .condition-swipper {
                    &:before {
                        content: "3";
					}
					
					&:after {
						top: -125px;
						background: url("../img/knitte_hat.png") no-repeat center center;
					}

                }
            }
		}
	}
	
	.text-stock {
		margin-top: 60px;
	}
}

.condition-text {
	font-family: $fontAppetite;
    font-size: 24px;

    &:before {
        content: "";
        position: absolute;
        left: -28px;
        top: 0px;
        width: 20px;
        height: 20px;
        text-align: center;
    }
}

.contition-text-min {
	padding: 0 32px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    outline: none;
    width: 50px;
    height: 50px;
    background-size: 12px 20px;
	top: 50%;
	background-image: none;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 6px;
		left: 50%;
		transform: translate(-50%, 0) rotate(135deg);
		width: 6px;
		height: 25px;
		border-radius: 5px;
		background-color: $colorBtn;
	}

	&:after {
		top: 20px;
		transform: translate(-50%, 0) rotate(45deg);
	}

    &.swiper-button-disabled {
        opacity: .6;
    }
}

.swiper-button-prev {
	left: 0;
	transform: rotate(180deg);
}

.swiper-button-next {
    right: 0;
}

.choose-btn {
	display: block;
}

.choose-btn.swiper-button-next {
	right: -15px;
}

.choose-btn.swiper-button-prev {
	left: -15px;
}

.swiper-container-horizontal>.swiper-pagination {
	bottom: 20px;
}

.swiper-pagination-bullet {
	background: #afa58d;
}

.swiper-pagination-bullet-active {
	background: $colorRed;
}

.card-btn {
	display: block;
}

// Feedback --------------------
.feedback {
    position: relative;
    z-index: 1;
}

// Table ----------------------
.table {
    width: 100%;
    border-spacing: 45px 20px;
	font-size: 16px;
	
	&_prize {
		border-spacing: 20px;
	}

	&_codes {
		border-spacing: 70px 20px;
	}

    &--padding {
        border-spacing: 30px 15px;
    }

    &--margin {
        text-align: left;
		border-spacing: 40px;
		margin-top: -30px;
		margin-bottom: -30px;
	}
	
	.question {
		color: $colorRed;
	}

	.check-photo {
		max-width: 50px;
		max-height: 50px;

		img {
			height: 50px;
			width: 50px;
		}
	}

	.gift {
		max-width: 30px;
		max-height: 30px;

		img {
			height: 30px;
			width: 30px;
		}
	}

	.btn_middle {
		margin-top: 0;
	}

	.track-nomber,
	.wait,
	.wait-code {
		color: $colorRed;
		text-decoration: underline;
	}

	.head-winner {
		display: none;
	}

	.win-prize {
		max-width: 30px;
		max-height: 30px;

		img {
			width: 30px;
    		height: 30px;
		}
	}
}

thead {
	th {
		text-align: left;
		color: #b4ac96;
		font-size: 12px;
		padding-bottom: 20px;
		font-weight: 400;
	}
}

tbody td {
    text-align: left;
}

// Personal Area ----------------
.personal-info {
	position: relative;
	z-index: 1;
}

.tabs {
	margin-top: 50px;

	&_text-mob {
		display: none;
	}

	.substrate {
		margin-top: 20px;
		padding-top: 50px;
	}
}

.nav-tabs {

	li {
		color: $colorRed;
		border-radius: 25px;
		padding: 12px 30px;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			background-color: $colorWhite;
			color: $mainColor;
			text-decoration: none;
		}

		&:nth-child(n+2) {
			margin-left: 10px;
		}
	}

	.active {
		background-color: $colorWhite;
		color: $mainColor;
		text-decoration: none;
	}
}

.content-tabs {
	display: none;

	&.active {
		display: block;
	}
}

.checks-no {
	display: block;
}

.partners-logo {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;

	li {
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url("../img/sprites-logo.png") no-repeat;
		background-position: 0 0;

		&:nth-child(n+2) {
			margin-left: 18px;
			background-position: 0 -50px;
		}

		&:nth-child(n+3) {
			margin-left: 18px;
			background-position: 0 -100px;
		}
	}
}

.img-code {
	margin: 20px auto 0;
	max-width: 260px;
	max-height: 135px;
}

.checks-yes {
	display: none;
}

.checks-add {

	.text_big {
		margin-bottom: 25px;
	}

	.checks-no {
		display: none;
	}

	.checks-yes {
		display: block;
	}
}

.personal-table {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 350px;
}

.add-name,
.add-email {
	padding: 15px 20px;
}

.js-form-address {
	position: relative;
}

.text-address-wrap {
	text-align: center;
	font-size: 15px;
	font-style: italic;
	border: 1px solid #ebe7dd;
	background-color: $colorWhite;
	padding: 20px 10px;
	margin: 10px -18px 30px; 
}

#kladr_autocomplete ul {
	border-radius: 25px;
	padding: 0 15px;
}

.where-checks {
	color: $colorRed;
	display: inline-block;
	border-bottom: 1px dashed $colorRed;
	margin-top: 20px;

	&:hover,
	&:focus {
		color: $colorRed;
	}
}

.where-checks-wrap {
	display: none;

	&_active {
		display: block;
	}
}

.where-checks-wrap-active {
	display: block;
}

.text-cur {
	color: #0cbbcc;
	font-family: $fontAppetite;
}

.slide-choose {
	padding-bottom: 50px;
}

.img-card {
	display: block;
}

// Winners Page ------------
.winners {
    position: relative;
    z-index: 1;

    &__table {
        height: 284px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 30px;
    }
}

// Gifts -------------
.gift-colections {
	position: relative;
	z-index: 1;
}

.colections-wrap {
	margin-top: 30px;

	&__items {
		width: 100px;
		height: 100px;
		text-align: center;
		padding-top: 50px;
		font-size: 14px;
		cursor: pointer;
		color: $colorRed;
		position: relative;

		&:nth-child(n+2) {
			margin-left: 20px;

			&:before {
				background-position: -134px 0;
			}
		}

		&:last-child {

			&:before {
				background-position: -257px 0;
			}
		}

		&_active {
			background-color: $colorWhite;
			border-radius: 50%;
			color: $mainColor;
		}

		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 48px;
			height: 42px;
			background: url("../img/colection-tabs-sprite.png");
			background-position: -15px 0;
		}
	}
}

.colection-block-wrap {
	display: none;

	&.active {
		display: block;
	}
}

.clolection-clothes-wrap {
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.clothes-wrap {
	text-align: center;
	margin-top: 55px;
	position: relative;

	&__img {
		width: 250px;
		height: 250px
	}

	&__text {
		margin-top: 15px;
		font-family: $fontAppetite;
		font-size: 18px;
	}

	&:first-child {

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 140px;
			background: url("../img/sprites-logo.png") no-repeat center center;
		}
	}
}

// Ours-grandmothers -----------------
.ours-grandmothers {
	position: relative;
	z-index: 1;
	text-align: center;
	margin-bottom: 280px;
}

.fond-wrap {
	margin-top: 15px;

	&__text {
		color: $colorGray;
		font-size: 12px;
		margin-bottom: 5px;
	}

	&__img {

		img {
			max-height: 60px;
		}
	}
}

.wrap-grandmothers {
	margin-top: 85px;
}

.grandmothers-slider {
	margin-top: 25px;

	&__item {
		min-height: 430px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.about-grandmother {
	width: 235px;
    margin: 0 auto;

	&__photo {
		width: 210px;
		height: 210px;
		background-color: $colorWhite;
		border-radius: 50%;
		margin: 0 auto;
		position: relative;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__name {
		color: #4a4a4a;
		font-family: $fontAppetite;
		font-size: 18px;
		margin-top: 18px;
	}

	&__fond {
		color: $colorGray;
		font-size: 12px;
		margin-top: 10px;
	}

	&__text {
		color: #4a4a4a;
    	margin-top: 10px;
		line-height: 18px;
	}
}

.grandmothers-btn {
	display: block;
	top: 22%;
}

.grandmothers-btn.swiper-button-next {
	right: -14px;
}

.grandmothers-btn.swiper-button-prev {
	left: -14px;
}

.gallery-wrap {
	margin-top: 65px;
}

.congratulate-wrap {
	margin-top: 20px;
	flex-wrap: wrap;
}

.congratulate-box-wrap {
	margin-left: 30px;
	display: none;

	&:nth-child(3n+1) {
		margin-left: 0;
	}

	&:nth-child(n+4) {
		margin-top: 30px;
	}

	&_test {
		display: none;
		margin-top: 0;
		visibility: hidden;
	}
}

.congratulate-box-wrap_active {
	display: flex;
}

.congratulate-box {
	background-color: $colorWhite;
	padding: 20px 15px 15px;
	width: 280px;

	&__heading {

		&_for {
			color: #4a4a4a;
			font-family: $fontAppetite;
			font-size: 18px;
		}

		&_from {
			margin-top: 5px;
		}
	}

	&__content {
		margin-top: 18px;
		display: flex;
		justify-content: center;
	}

	&__text {
		margin-top: 30px;
	}

	&__all {
		display: block;
		margin-top: 20px;
		color: $colorRed;

		&:hover {
			color: $colorRed;
		}
	}
}

.congratulate-photo div,
.congratulate-video div {
	width: 90px;
	height: 90px;
	background-color: #ebe7dd;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}

.congratulate-video {
	margin-left: 18px;
}

.congratulate-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px; 
}


// Product --------------
.product {
	position: relative;
	z-index: 1;

	&__wrap {
		position: relative;
	}
}

.product-slider {
	padding-top: 70px;
	width: 95%;
}

.product-item {
	text-align: center;

	&__img {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: -1;
			transform: translate(-50%, -50%);
			width: 200px;
			height: 200px;
			background-color: $colorWhite;
			border-radius: 50%;
		}
	}

	&__text {
		margin-top: 40px;
		font-family: $fontRb;
		font-size: 21px;
		
		&_subtext {
			font-family: $fontRr;
			font-size: 16px;
		}
	}
}

.product-btn {
	display: block;
	right: -10px;

	&+.product-btn {
		left: -10px;
		right: auto;
	}
}

// For IE --------------
.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
    display: none;
}

// Scroll -----------------
body .scroll-element,
body .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
}

body .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
	width: 100%;
	display: none !important;
}

body .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
    transition: none;
}

body .scroll-element .scroll-element_outer {
    overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    transition: none;
}

body .scroll-element .scroll-element_track {
	background:  #ebe7dd;
	left: 1px;
    width: 6px;
}

body .scroll-element .scroll-bar {
	width: 12px;
	background-color: $colorRed;
	left: -2px;
	position: relative;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 3px;
		left: 50%;
		transform: translate(-50%, 0);
		width: 12px;
		height: 8px;
		background: url("../img/svg/arrow-top.svg") no-repeat center center;
	}

	&:after {
		top: auto;
		bottom: 3px;
		transform: translate(-50%, 0) rotate(180deg);
	}
}

.photo-download-wrap .scroll-element .scroll-bar {
	&:before,
	&:after {
		display: none;
	}
}

body .scroll-element:hover .scroll-bar {
    background-color: $colorRed;
}

body .scroll-element.scroll-draggable .scroll-bar {
    background-color: $colorRed;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
    transition: none;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
    transition: none;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
    transition: none;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
    transition: none;
}