// Select ------------
body>.select2-container {
    width: auto !important;
    transition: none;
}

.select2-container {
    width: 100% !important;
    outline: none;
    z-index: 101;

    & * {
        outline: none;
    }

    .select2-selection {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 13px 20px;
        border-radius: 25px;
    }

    .select2-selection__rendered {
        padding-left: 0 !important;
    }

    .select2-selection__arrow b {
        display: none;
    }

    .select2-selection__arrow {
        height: 100% !important;
        width: 38px !important;

        &::before {
            border: none;
            background: url('../img/svg/arrow-select.svg') no-repeat center / cover;
            width: 16px;
            height: 12px;
            background-size: contain;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .select2-dropdown {
        border-top: none;
        transition: none;
    }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 10px;
}

// Checkbox ------------
.checkbox {
    position: relative;
	padding: 7px 0;
	padding-left: 12px;
    display: flex;
    flex-direction: column;
    color: #4a4a4a;

    input {
        position: absolute;
        z-index: -1;
        opacity: -2;
    }

    &__text {
        position: relative;
        cursor: pointer;
        padding-left: 30px;
        font-size: 12px;
        order: -1;

        a {
            color: $colorRed;
        }

        &::before {
            content: '';
            position: absolute;
            height: 17px;
            width: 17px;
            border: 1px solid $colorGray;
            left: 0;
            top: 0;
        }
    }
}

.checkbox input:checked+.checkbox__text:after {
    position: absolute;
    content: '';
    background: url("../img/svg/cheked.svg") no-repeat center / cover;
    width: 10px;
    height: 10px;
    left: 4px;
    top: 4px;
}

.checkbox input:checked~.checkbox__text:after {
    position: absolute;
    content: '';
    background: url("../img/svg/cheked.svg") no-repeat center / cover;
    width: 10px;
    height: 10px;
    left: 4px;
    top: 4px;
}

// Validate --------------
.ajax-validate-error {
	padding-top: 10px;

	.error {
		font-size: 13px;
		font-family: $fontAppetite;
	}
}