@font-face {
    font-family: 'appetitemondmedium';
    src: url('../fonts/appetitemond/appetitemond-webfont.eot');
    src: url('../fonts/appetitemond/appetitemond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/appetitemond/appetitemond-webfont.woff2') format('woff2'),
         url('../fonts/appetitemond/appetitemond-webfont.woff') format('woff'),
         url('../fonts/appetitemond/appetitemond-webfont.ttf') format('truetype'),
         url('../fonts/appetitemond/appetitemond-webfont.svg#appetitemondmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.eot');
    src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto/roboto-italic-webfont.eot');
    src: url('../fonts/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.eot');
    src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?baxu62');
	src:  url('../fonts/icomoon/icomoon.eot?baxu62#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon/icomoon.ttf?baxu62') format('truetype'),
	  url('../fonts/icomoon/icomoon.woff?baxu62') format('woff'),
	  url('../fonts/icomoon/icomoon.svg?baxu62#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-fb:before {
	content: "\e900";
	color: #fff;
  }
  .icon-LK-icon:before {
	content: "\e901";
	color: #fff;
  }
  .icon-logo:before {
	content: "\e902";
	color: #fff;
  }
  .icon-menu:before {
	content: "\e903";
	color: #fff;
  }
  .icon-menu-close:before {
	content: "\e904";
	color: #fff;
  }
  .icon-odn:before {
	content: "\e905";
	color: #fff;
  }
  .icon-photo-send:before {
	content: "\e906";
	color: #fff;
  }
  .icon-video-send:before {
	content: "\e907";
	color: #fff;
  }
  .icon-vk:before {
	content: "\e908";
	color: #fff;
  }
  