.footer {
    background-color: $colorWhite;
	padding: 20px 0 5px;
	padding-left: 240px;
	position: relative;
    
    &__nav {
        display: flex;
        flex-wrap: wrap;
        color: #4d1d85;
        justify-content: center;

        li {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: #e20509;;
                height: 3px;
                width: 3px;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                left: -11px;
            }

            &:first-child::before {
                display: none;
            }

            &+li {
                margin-left: 20px;
			}
			
			a {
				color: #4d1d85;
			}
        }
    }

    &__logo {
        margin-top: 35px;
        text-align: center;
    }

    &__author {
        margin-top: 15px;
        font-size: 11px;
        color: #4d1d85;
        text-align: center;
    }
}