// Header
.header {
    padding: 20px 0;
    position: relative;
    z-index: 101;
    background-color: $colorAsideMenu;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
	height: 100%;
	overflow: hidden;

    &_container {
        max-width: none;
		padding: 0;
		width: 128%;
    	height: 100%;
    	overflow: scroll;
    	overflow-x: hidden;
    }

    &__wrap {}

    &__burger {
        display: none;
        font-size: 39px;
    }
}

.logo {
	margin-bottom: 20px;
	text-align: center;
	display: block;
	margin-left: -50px;

    .icon-logo {
        font-size: 50px;
    }
}

.nav {
    font-size: 14px;
	width: 100%;
	font-family: $fontRm;


    &__link {
        color: $colorWhite;
        display: block;
		padding-left: 50px;
		padding-right: 55px;
        transition: all .2s ease;
		margin-top: 30px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-left: 20px solid $colorWhite;
			border-bottom: 20px solid transparent;
			opacity: 0;
			transition: opacity .2s ease;
		}

        &:hover,
        &.active {
			color:  $colorWhite;

			&:before {
				opacity: 1;
			}
        }
    }
}

.personal-area {
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 55px;
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-left: 20px solid $colorWhite;
		border-bottom: 20px solid transparent;
		opacity: 0;
		transition: opacity .2s ease;
	}

	&:hover {

		&:before {
			opacity: 1;
		}
	}

    &__photo {
		margin-right: 10px;
		
		&_icon {
			font-size: 20px;
		}
    }

    &__info {
        width: 100%;
    }

    &__text {
        text-align: left;
        transition: all .2s ease;

        p {
			color: $colorWhite;
            transition: all .2s ease;
        }
	}
	
	&__exit-btn {
		padding-left: 30px;
		text-decoration: underline;
		color: $colorWhite;
		margin-top: 5px; 

		&:hover {
			color: $colorWhite;
			text-decoration: underline;
		}
	}

    &__no-entry {
        display: flex;
        cursor: pointer;
    }

    &__entry {
        display: none;
    }

    &.login {

        .personal-area__entry {
            display: flex;
            flex-direction: column;
        }

        .personal-area__text {
            

            p {
				color: $colorWhite;
				text-decoration: underline;
            }
        }

        .personal-area__no-entry {
            display: none;
        }
    }
}

.personal-area-photo {
	display: none;
    width: 50px;
    height: 50px;
    position: relative;
    flex-shrink: 0;

    &_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 30px;
    }
}

.text-card-wrap {
	margin-top: 50px;

	&__text {
		color: $colorWhite;
		font-family: $fontAppetite;
		font-size: 15px;
		padding: 10px 30px 10px 50px;
		background-color: #ba0c0c;
		background: linear-gradient(-105deg, transparent 25px, #ba0c0c 0);
		position: relative;
		margin-right: 0px;
		width: 240px;
		
		&:after {
			content: "";
			position: absolute;
			bottom: -35px;
			right: 25px;
			width: 18px;
			height: 49px;
			background: url("../img/arrow-down.png") no-repeat center center;
		}
	}

	&__send-card {
		width: 240px;
		height: 118px;
		display: inline-block;
		background: url("../img/send-card_menu.png") no-repeat center center;
		margin-top: 10px;
	}
}