@media only screen and (max-width: 1200px) {
	// Ours-grandmothers -----------------
	.congratulate-box-wrap {
		width: 45%;
		
		&:nth-child(odd) {
			justify-content: flex-end;
		}

		&:nth-child(3n+1) {
			margin-left: 30px;
		}

		&:nth-child(2n+1) {
			margin-left: 0;
		}

		&:nth-child(n+4) {
			margin-top: 0;
		}

		&:nth-child(n+3) {
			margin-top: 30px;
		}

		&_test {
			width: 45%;
			display: flex;
			margin-left: 30px;
		}
	}
}

@media only screen and (max-width: 992px) {

    .height-helper {
        padding-left: 0;

        &_new-bg {
            background: url("../img/fon-2-new.png");

            &:before {
                left: 0;
            }
        }

    }

    .cookies {
        padding-left: 0;
    }

    .popup {
        &.js-popup-show {
            margin-left: 0;
            z-index: 102;
        }
    }

    // Header Media ------------------
    .header {
        position: relative;
        padding: 0 15px;
        width: auto;
        top: auto;
        left: auto;
        height: auto;
        overflow: visible;

        &_container {
            max-width: 1005px;
            padding: 0;
            width: 100%;
            height: auto;
            overflow: visible;
            overflow-x: visible;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
        }

        &__burger {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: block;
            cursor: pointer;
            width: 25px;
            height: 35px;
            width: 70px;
            height: 70px;
            background-color: #b70015;
            order: 3;

            .icon-menu {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
            }

            .icon-menu-close {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
            }

            &.active {

                .icon-menu {
                    opacity: 0;
                }

                .icon-menu-close {
                    opacity: 1;
                }
            }
        }
    }

    .logo {
        position: relative;
        order: 1;
        margin-left: 0;
        margin-bottom: 0;
        width: 100px;
        height: 70px;
        overflow: hidden;

        .icon-logo {
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .nav {
        position: absolute;
        z-index: 1;
        right: 0;
        background-color: #b70015;
        padding-top: 10px;
        top: 0;
        transform: translateY(-100%);
        transition: transform .2s ease;
        order: 1;
        overflow: hidden;

        &__link {
            font-size: 16px;
            padding-left: 70px;
            padding-right: 5px;

            &:hover {
                color: $colorRed;
            }
        }

        &.active {
            margin-top: 70px;
            transform: translateY(0);
        }
    }

    .personal-area-photo {
        display: block;
        visibility: hidden;

        &__wrap {
            margin-left: 65px;
            width: 70px;
            height: 60px;
            background-color: #0cbbcc;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-bottom: 7px solid $colorRed;
                border-left: 35px solid transparent;
                border-right: 35px solid transparent;
            }
        }
    }

    .personal-area-photo.login-photo {
        visibility: visible;
        flex-grow: 1;
    }

    .personal-area {
        padding-left: 70px;
        padding-right: 5px;
        margin-top: 40px;

        &__text {
            font-size: 16px;
        }
    }

    .text-card-wrap {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -12px;

        &__text {
            color: $colorWhite;
            width: 145px;
            font-family: $fontAppetite;
            font-size: 15px;
            padding: 0 15px 0 35px;
            background-color: $colorRed;
            background: linear-gradient(75deg, transparent 25px, $colorRed 0);
            position: relative;
            margin-right: 0px;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                width: 6px;
                height: auto;
                transform: rotate(1deg);
                background: url("../img/waves-border.png") no-repeat 3% 0;
            }
        }

        &__send-card {
            width: 150px;
            height: 115px;
            background: url("../img/send-card-mob.png") no-repeat center center;
            margin-top: 0;
            margin-left: -2px;
        }
    }


    // Conditions ------------------
    .conditions {

        &__info {
            margin-top: 30px;
        }

        &__content {
            overflow: hidden;
            width: 52%;
            padding: 30px 50px 0;
        }

        &__step {
            justify-content: flex-start;

            & .swiper-slide {
                max-width: none;
                display: flex;
                justify-content: center;
                flex-shrink: 0;

                .condition-wrap {
                    margin: 0;
                }

                &+.swiper-slide {
                    margin-left: 0;
                }
            }
        }
    }

    .condition-btn {
        display: block;
        margin-top: -25px;
	}
	
	// Ours-grandmothers -----------------
	.grandmothers-slider {
		width: 75%;
	}

    // Substrate ----------------
    .substrate {

        &_mrg {
            margin-bottom: 80px;
        }

        &:before {
            top: -86px;
            left: -35px;
            width: 215px;
            height: 200px;
            background: url("../img/berries.png") no-repeat center center;
        }

        &:after {
            display: none;
        }
    }

    // Footer -----------------
    .footer {
        padding-left: 0;
    }
}

@media only screen and (max-width: 768px) {

    .height-helper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:before {
            top: 50%;
            transform: translate(0, -50%);
            background: url("../img/embroidery_mob.png");
            height: 90px;
        }

        &:after {
            display: none;
        }

        &_new-bg {
            background: url("../img/fon-2-new.png");

            &:before {
                display: none;
            }

            &:after {
                display: block;
                right: 50%;
                margin-right: -240px;
                width: 440px;
                height: 160px;
            }
        }

        .text-card-wrap {
            display: flex;
        }
    }

    .main {

        &:before,
        &:after {
            display: none;
        }

        &_new-bg {

            &:before {
                display: block;
            }
        }
    }

    // Substrate ----------------
    .substrate {
        padding: 35px 10px 40px;
    }


    // Conditions -------------------
    .conditions {

        &__content {
            width: 100%;
        }
    }

    .conditions_container {
        justify-content: center;
    }

    .conditions__info {
        width: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }

    .rules-swiper {
        overflow: hidden;
    }

    .slide-rules {
        &__photo {
            padding: 0;
        }

        &__title {
            font-size: 22px;
            max-width: 340px;
        }

        &__text {
            font-size: 16px;
        }
    }

    // Footer -------------------
    .footer {
        &__nav {
            flex-direction: column;
            align-items: center;

            li {

                &+li {
                    margin-left: 0;
                    margin-top: 15px;
                }

                &:before {
                    top: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    // Btn
    .btn {

        &--def {
            min-width: 250px;
        }
    }

    // Table ----------------------
    .table {
        border-spacing: 20px 10px;
		font-size: 12px;

		&_codes {
			border-spacing: 30px 20px;
		}

		.heading-photo-checks {
			display: none;
		}
		
		.personal-photo-check_gift {
			display: none;
		}

		.gift {
			max-width: 50px;
			max-height: 50px;

			img {
				height: 50px;
    			width: 50px;
			}
		}

		.btn_middle {
			font-size: 12px;
		}
    }

    thead {
        th {
            font-size: 11px;
        }
    }

    // Personal Area Page -------------
    .tabs {

        &_text-desk {
            display: none;
        }

        &_text-mob {
            display: block;
        }
    }

    // Captcha ------------------
    .captcha {
        margin: 20px -10px 0;
        padding: 15px 20px 20px;

        &_feedback {
            margin: 18px auto 0;
        }
    }

    // Cookie
    .cookies__text {
        width: 100%;
    }

	// Gifts -----------------------
	.clolection-clothes-wrap {
		justify-content: center;
	}

	.clothes-wrap {
		width: 60%;

		&__img {
			margin: 0 auto;
		}
	}

	// Ours-grandmothers -----------------
	.ours-grandmothers {
		margin-bottom: 0;

		.text_absol {

			p {
				display: inline;
			}
	
			&:before {
				display: none;
			}
	
			&:after {
				display: none;
			}
		}
	}

	.fond-wrap__img {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			left: -70%;
			transform: translate(0, -50%) rotateY(180deg);
			background: url("../img/snowflake.png") repeat-x;
			background-size: contain;
			width: 95%;
			height: 75px;
		}

		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			top: 50%;
			right: -70%;
			transform: translate(0, -50%);
			background: url("../img/snowflake.png") repeat-x;
			background-size: contain;
			width: 95%;
			height: 75px;
		}
	}

	.wrap-grandmothers {

		.text_middle  {
			
			p {
				display: inline;
			}
		}
	}
	
	.congratulate-wrap {
		flex-direction: column;
    	align-items: center;
	}
	

	.congratulate-box-wrap {
		margin-left: 0;
		margin-top: 30px;
		justify-content: center;

		&:first-child {
			margin-top: 0;
		}

		&:nth-child(odd) {
			justify-content: center;
		}

		&:nth-child(3n+1) {
			margin-left: 0;
		}

		&:nth-child(n+4) {
			margin-top: 30px;
		}
	}
	
	
	// Popups ------------------------
	.popup__wrap_big {
		max-width: 300px;
		padding-top: 40px;

		.title:before {
			top: -120px;
			width: 230px;
    		height: 115px;
		}
		
		.form__text--minMargin {
			padding: 0;
		}

		.form__text_little {

			p {
				display: inline;
			}
		}

		.slide-choose {
			padding: 0 25px 40px;
			margin: 0 -25px;
		}

		.swiper-container-horizontal > .swiper-pagination {
			bottom: 10px;
		}
	}

	.gallery-card-slider {

		.slide-card {
			margin: 0 -15px;
			padding: 0 25px;
		}
		
		.card-btn.swiper-button-next {
			right: -14px;
		}

		.card-btn.swiper-button-prev {
			left: -14px;
		}
	}

	.gallery-card-add {

		.form__tips {
			padding-left: 20px;
		}
	}

	.download-file-congratulate {
		width: 240px;
	}

	.popup__wrap_very-big {
		max-width: 300px;
	}

	.sides-wrap {
		flex-direction: column;
	}

}

@media only screen and (max-width: 479px) {

    // Title ----------------------
    .title_big {
		font-size: 30px;
		line-height: 30px;
    }

    // Conditions -------------------
    .conditions {

        &__content {
            padding: 30px 0 0;
        }

        &__text {
            font-size: 16px;
        }

        &__info {
            margin-top: 0;
        }
    }

    .swiper-button-prev {
        left: -13px;
    }

    .swiper-button-next {
        right: -13px;
    }

    .condition-text {
        font-size: 28px;
    }

    // Substrate ----------------
    .substrate {
        padding: 15px 10px 40px;

        textarea {
            min-height: 160px;
        }
    }

    // Winners ----------------
    .winners {

        &__table {
            height: 405px;
        }

        .form__card {
            margin-top: 0;
		}
		
		.form__tips--big {
			margin-top: 30px;
			font-size: 16px;
		}
	}

    // Form ---------------------
    .form {
        flex-wrap: wrap;

        &__globalCard {
            width: 100%;
        }
    }

    .form-wrap {
        margin-top: 0;
    }

    // Captcha ------------------
    .captcha_feedback {
        width: auto;
        margin: 20px -30px 10px;
    }

    // Text ---------------------
	.text_big {
        font-size: 16px;

        p {
            display: inline;
        }
	}

	.text_little {

		p {
            display: inline;
        }
	}

    // Table --------------------
    .table {
        width: auto;
		margin: 20px auto 0;

        thead {
            display: none;
		}
		
        tr {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            &+tr {
                margin-top: 45px;
            }

            td {
				display: block;
                margin-left: 80px;

                &:last-child {
                    font-size: 16px;
                }
            }
        }

        .personal-num {
            font-size: 16px;
        }

        .personal-photo-check {
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 0;
		}
		
		.gift {
			position: absolute;
            top: 0;
            left: 0;
            margin-left: 0;
		}

		&_codes {
			width: 100%;
			border-spacing: 15px 20px;

			.heading-codes {
				display: table-header-group;

				th {
					display: block;
				}
	
				.date-reg {
					display: none;
				}
			}

			tr {
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: wrap;

				td {
					display: block;
					margin-left: 0;
	
					&:last-child {
						font-size: 16px;
						position: absolute;
						top: 0;
						right: 0;
						width: 165px;
						text-align: center;
					}
				}
			}

			.btn_middle {
				font-size: 16px;
				padding: 5px 10px;
				width: 100%;
			}

			.personal-code {
				font-family: $fontRb;
				font-size: 16px;
				width: 90px;
				word-break: break-all;
            	overflow-wrap: break-word;
				flex-shrink: 0;
			}

			.personal-date {
				width: 100%;
				flex-shrink: 0;
				order: 1;
			}
	
		}

		&--padding {
			width: 100%;
			border-spacing: 15px 20px;
			margin: 0;

			thead {
				display: block;

				tr {
					justify-content: space-between;
					flex-direction: row;
					flex-wrap: wrap;
				}

				th {
					display: none;
				}
	
				.head-winner {
					display: block;
				}
	
				.head-prize {
					display: block;
				}
			}

			tr {
				justify-content: space-between;
				flex-direction: column;
				flex-wrap: wrap;
	
				td {
					display: block;
					margin-left: 0;
	
					&:last-child {
						font-size: 16px;
						position: absolute;
						top: 0;
						right: 0;
						width: 165px;
						text-align: center;
					}
				}
			}

			.win-name {
				font-size: 16px;
				font-family: $fontRb;
			}

			.win-prize {
				max-width: 60px;
				max-height: 60px;
				
				img {
					width: 60px;
    				height: 60px;
				}
			}
		}
	
    }

    // Personal Area Page -------------
    .nav-tabs {

        li {
            font-size: 14px;
            padding: 10px 20px;
        }
	}

	// Ours-grandmothers -----------------
	.grandmothers-slider {
		width: 100%;
	}
	
    // PopUp ---------------------
    .popup {
        padding: 0 10px;

        &__wrap {
			top: 60px;
			
			&_big {
				top: 120px;
			}
		}
	}

	// Gifts -----------------------
	.colections-wrap {

		&__items {

			&:nth-child(n+2) {
				margin-left: 0;
			}
		}
	}
	.clothes-wrap {
		width: 80%;

		&:first-child:before {
			right: -15px;
		}

		&__img {
			max-width: 250px;
			max-height: 250px;
			width: 100%;
			height: 100%;
		}

		&__text {
			margin-top: 10px;
		}
	}
}