// Cookies -----------
.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #660003;
	padding: 25px 0 20px;
	padding-left: 240px;
    text-align: center;
	transition: all .2s linear;
	font-size: 12px;
    opacity: 0;
    z-index: -1;

    &__text {
        margin: 0 auto 10px;
		width: 80%;
		color: $colorWhite;

        a {
            color: $colorWhite;
        }
    }

    &.js-show {
        opacity: 1;
        z-index: 99;
    }
}

// Popup -------------
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(#000, .8);
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: all .2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;

    // Show
    &.js-popup-show {
        z-index: 100;
        opacity: 1;
		transform: scale(1);
		margin-left: 140px;
    }

    &__close {
        position: absolute;
        top: -10px;
    	right: -10px;
		width: 40px;
		height: 40px;
		background-color: $colorBtn;
        cursor: pointer;
		text-align: center;
		border-radius: 50%;

		&:before,
		&:after {
			content: "";
			position: absolute;;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			height: 25px;
			width: 2px;
			background-color: $colorWhite;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(135deg);
		}
    }

    &__wrap {
        background-color: $colorPopups;
        max-width: 300px;
        width: 100%;
        padding: 20px 30px 40px;
        position: absolute;
        top: 120px;
        left: 50%;
        margin-bottom: 100px;
		transform: translateX(-50%);
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: -18px;
			left: 0;
			height: 18px;
			background:
				linear-gradient(-45deg, transparent 75%, $colorPopups 0) 0 50%,
				linear-gradient(45deg, transparent 75%, $colorPopups 0) 1px 50%;
			background-size: 15px 20px;
			transform: rotate(180deg);
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			bottom: -18px;
			left: 0;
			height: 18px;
			background:
				linear-gradient(-45deg, transparent 75%, $colorPopups 0) 0 50%,
				linear-gradient(45deg, transparent 75%, $colorPopups 0) 1px 50%;
			background-size: 15px 20px;
		}

		&_big {
			max-width: 500px;
			padding-top: 80px;
			text-align: center;

			.title {
				position: relative;

				&:before {
					content: "";
					position: absolute;
					top: -190px;
					left: 50%;
					transform: translate(-50%, 0);
					width: 358px;
					height: 176px;
					background: url("../img/postcard-Picture.png") no-repeat center center;
					background-size: contain;
				}
			}

			.form__text--minMargin {
				padding: 0 50px;
			}

			input {
				max-width: 240px;
				width: 100%;
			}

			.void-code {
				text-align: center;
				font-style: italic;
			}

			::-webkit-input-placeholder {
				color: #9b9b9b;
			}
			::-moz-placeholder {
				color: #9b9b9b;
			}
			:-ms-input-placeholder { 
				color: #9b9b9b;
			}
			:-moz-placeholder {
				color: #9b9b9b;
			}
			
			.btn-wrap_minMargin {
				margin-top: 10px;
			}
		}

		&_very-big {
			max-width: 660px;
			padding: 0;

			&:before,
			&:after {
				display: none;
			}
		}
	}
	

    &__title {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;

        &--min {
            font-size: 21px;
            color: #4a4a4a;
            margin-bottom: 10px;
            margin-top: 40px;
        }
    }

    &__text {
        text-align: center;
		font-size: 18px;

		&_img {
			margin-bottom: 20px;
		}

        &--marginTop {
            margin-top: 30px;
        }

        &_marginminus {
			margin: 30px -15px 0;

            a {
                color: $colorRed;
            }
        }
    }
}

.reg-winner {
	.popup__wrap {
		padding: 20px 60px 40px;
		max-width: 380px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -35%;
			width: 117px;
			height: 312px;
			z-index: 1;
			background: url("../img/Sparcles1.png") no-repeat center center;
			background-size: contain;
		}

		&:after {
			content: "";
			position: absolute;
			top: 20%;
			right: -35%;
			z-index: 1;
			width: 127px;
			height: 282px;
			background: url("../img/Sparcles2.png") no-repeat center center;
			background-size: contain;
		}
	}
}

// Download check----------------
.text-download-wrap {
	height: 228px;
}

.download-check {

	.popup__wrap {
		padding-right: 10px;
	}
}

.download-check-photo {

	.popup__wrap {
		padding-right: 10px;
    	padding-left: 10px;
	}
}

.photo-download-wrap {

	&__check {
		position: relative;
		width: 230px;
		margin: 0 auto 30px;
		border: 5px solid $colorWhite;
	}
}

.photo-del {
	@extend .popup__close;
	background-color: $colorWhite;
	left: -15px;
    top: -15px;
	right: auto;
	width: 30px;
	height: 30px;

	&:before,
	&:after {
		background-color: $colorRed;
		height: 18px;
	}
}

.input-for-img {
	position: absolute;
	top: -1000px;
	visibility: hidden;
}

.photo-download-wrap {
	height: 240px;
}

.photo-download-wrap.scroll-content {
	padding-top: 12px;
}

.gallery-card-slider {

	.popup__wrap_big {
		padding-top: 20px;
	}
	
	.title {

		span {
			font-size: 24px;
		}

		p {
			color: #4a4a4a;
			font-family: $fontRr;
		}

		&:before {
			display: none;
		}
	}
}

.gallery-card-add {

	.popup__wrap_big {
		padding-top: 20px;
	}

	.title {

		&:before {
			display: none;
		}
	}

	.form__tips {
		padding-left: 75px;
	}

	input {
		max-width: 320px;
	}

	textarea {
		max-width: 320px;
		min-height: 150px;
	}

	span div.error {
		padding-left: 0;
	}
}

.download-file-congratulate {
	width: 250px;
	margin: 18px auto 0;
}

.download-congratulate {
	display: block;
	cursor: pointer;
	margin: 0;
	position: relative;

	.btn-send {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		background-color: $colorRed;
		position: relative;
		margin: 0;
		display: inline-block;
	}

	input {
		position: absolute;
        top: -1000px;
        visibility: hidden;
	}

	p {
		color: $colorRed;
		font-size: 14px;
	}
}

.download-reg {

	&.js-popup-show {
		margin-left: 0;
		z-index: 105;
	}
	
}

.side {
	padding: 25px 40px 40px;
	text-align: center;
	background: url("../img/fon-2-new.png");

	&_other {
		background: url("../img/fon-new.png");

		.title {
			color: $colorWhite;
		}

		.form__text {
			color: $colorWhite;
		}
	}

	&__img {
		margin-top: 10px;

		img {
			max-height: 130px;
		}
	}
}

// Error Validate
span div.error {
    color: #ff0000;
    font-size: 10px;
	padding-left: 20px;
}