/*STYLE RESET START*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    color: $mainColor;
	font-size: 16px;
	font-family: $fontRr;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    display: block;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: auto;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
	outline: none;
	-webkit-appearance: none;
}

label {
    margin: 0 auto;
}

input, select {
    border: none;
	outline: none;
	-webkit-appearance: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.height-helper {
	padding-left: 240px;
    min-height: 100%;
	overflow: hidden;
	background: url("../img/fon-new.png");
	position: relative;

	&:before,
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		background: url("../img/right-tree.png") no-repeat center center;
		width: 159px;
    	height: 270px;
	}

	&:before {
		background: url("../img/embroidery2.png");
		left: 0;
		width: auto;
		height: 115px;
	}

	&_new-bg {
		background: url("../img/fon-2-new.png");

		&:before {
			background: url("../img/left-bottom-tree.png") no-repeat center center;
			background-size: contain;
			width: 400px;
			height: 269px;
			left: 230px;
		}

		&:after {
			background: url("../img/right-bottom-biscuit.png") no-repeat center center;
			background-size: contain;
			width: 540px;
			height: 217px;
		}
	}

	.text-card-wrap {
		display: none;
		margin-top: 50px;
	}
}

/*STYLE RESET END*/